<div class="page-breadcrumb">
  <div class="row">
    <div class="col-7 align-self-center">
      <h3 class="page-title m-3 mx-3 text-truncate text-dark font-weight-medium mb-1">Welcome Back
        {{Shop?.shop_name}}!</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">

          </ol>
        </nav>
      </div>
    </div>
    <div class="col-5 align-self-center">
    </div>
  </div>
</div>

<div class="container-fluid mt-2">
  <!-- *************************************************************** -->
  <!-- Start First Cards -->
  <!-- *************************************************************** -->
  <div class="card-group">
    <div class="card border-right">
      <div class="card-body">
        <div class="d-flex d-lg-flex d-md-block align-items-center">
          <div>
            <div class="d-inline-flex align-items-center">
              <h3 class="text-dark mb-1 font-weight-medium">{{Shop?.product_count}}</h3>
            </div>
            <p class="text-muted font-weight-normal mb-0 w-100 text-truncate">No. of Products</p>
          </div>
          <div class="ml-auto mt-md-3 mt-lg-0">
            <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-right">
      <div class="card-body">
        <div class="d-flex d-lg-flex d-md-block align-items-center">
          <div>
            <h3 class="text-dark mb-1 w-100 text-truncate font-weight-medium"><sup class="set-doller"> ₹
              </sup>{{Shop?.product_valuation}}
            </h3>
            <p class="text-muted font-weight-normal mb-0 w-100 text-truncate">Stock Valuation
            </p>
          </div>
          <div class="ml-auto mt-md-3 mt-lg-0">
            <span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-right">
      <div class="card-body">
        <div class="d-flex d-lg-flex d-md-block align-items-center">
          <div>
            <div class="d-inline-flex align-items-center">
              <h3 class="text-dark mb-1 font-weight-medium"><sup class="set-doller"> ₹ </sup>{{Shop?.month_revenue}}
              </h3>
              <!-- <span class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">-18.33%</span> -->
            </div>
            <p class="text-muted font-weight-normal mb-0 w-100 text-truncate">This Month Revenue</p>
          </div>
          <div class="ml-auto mt-md-3 mt-lg-0">
            <span class="opacity-7 text-muted"><i data-feather="file-plus"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="d-flex d-lg-flex d-md-block align-items-center">
          <div>
            <h3 class="text-dark mb-1 font-weight-medium"><sup class="set-doller"> ₹ </sup>{{Shop?.day_revenue}} </h3>
            <p class="text-muted font-weight-normal mb-0 w-100 text-truncate">Today's Sales</p>
          </div>
          <div class="ml-auto mt-md-3 mt-lg-0">
            <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- *************************************************************** -->
  <!-- End First Cards -->
  <!-- *************************************************************** -->



  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <form #formValues1="ngForm" (ngSubmit)="add_item(formValues1)">

              <div class="col-12">
                <!-- Select Product - form - [ label - product_id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <ng-select [items]="Products" bindLabel="label" autofocus bindValue="product_id" name="factor"
                    [(ngModel)]="Item.product" placeholder="Select Product">
                  </ng-select>
                </div>
              </div>

              <div class="col-12">
                <!-- Purchase Quantity - item_quantity - text - required -->
                <div class="form-group">
                  <input class="form-control" [(ngModel)]="Item.item_quantity" name="item_quantity"
                    #item_quantity="ngModel" type="text" placeholder="Enter Purchase Quantity" required>
                  <div class="error" *ngIf="item_quantity.touched && !item_quantity.valid"> Purchase Quantity is
                    required</div>
                </div>
                <!-- End of Purchase Quantity -->
              </div>
              <div class="col-12 mb-3">
                <div class="form-group text-center ">
                  <button class="btn btn-primary" style="width: 100%;" type="submit"> <i class="fa fa-cart-plus"
                      aria-hidden="true"></i>
                    Add Item</button>
                </div>
              </div>
            </form>
            <hr>
            <div *ngFor="let factor of Items; let i = index">
              <div class=" d-flex justify-content-between mx-3">
                <div>
                  <p> {{ factor.item_name }}</p>
                </div>
                <div class="quantity buttons_added">
                  <input type="button" value="-" class="minus" (click)="sub_qty(factor)">
                  <input type="number" step="1" min="1" max="" name="quantity" value={{factor.item_quantity}}
                    title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                  <input type="button" value="+" class="plus" (click)="add_qty(factor)">
                  <button (click)="del_qty(factor)" style="color: rgba(218, 165, 32, 0);" class="btn"> <i
                      class="ti-trash" style="color: rgba(174, 174, 174, 0.418);" aria-hidden="true"></i> </button>
                </div>
              </div>
              <hr>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">

            <a data-toggle="modal" data-target="#create-factor-modal"
              class="d-sm-inline btn btn-sm btn-primary shadow-sm text-white float-right mx-2 my-2"><i
                class="ti-plus"></i>
              Add Customer</a>

            <table class="table table-bordered pt-3" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Items</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Total</th>
                  <th>{{sub_total | currency:'INR':'symbol'}}</th>
                </tr>
              </tfoot>

              <!-- Start of DataTable -->
              <tbody>
                <tr *ngFor="let factor of Items">
                  <td>{{factor.item_name}} x {{factor.item_quantity}}</td>
                  <td>{{factor.item_price | currency:'INR':'symbol'}}</td>
                </tr>
              </tbody>
              <!-- End of DataTable -->
            </table>
          </div>

          <form #formValues2="ngForm" (ngSubmit)="check_out(formValues2)">
            <div class="row mt-4">
              <div class="col-md-12">
                <!-- Select Customer - form - [ label - customer_id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <ng-select [items]="Customers" bindLabel="label" autofocus bindValue="customer_id" name="customer"
                    [(ngModel)]="Item.customer" placeholder="Select Customer">
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <!-- Select Status - form - [ value - id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <ng-select [items]="ORDER_STATUS" bindLabel="value" autofocus bindValue="id" name="order_status"
                    [(ngModel)]="Item.order_status" placeholder="Select Status">
                  </ng-select>
                </div>
              </div>

              <div class="col-md-4">
                <!-- Select Status - form - [ value - id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <ng-select [items]="ACCOUNT_TYPE" bindLabel="value" autofocus bindValue="id" name="account_type"
                    [(ngModel)]="Item.account_type" placeholder="Select Status">
                  </ng-select>
                </div>
              </div>

              <div class="col-md-4">
                <!-- Select Payment - form - [ value - id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <ng-select [items]="ORDER_PAYMENT" bindLabel="value" autofocus bindValue="id" name="order_payment"
                    [(ngModel)]="Item.order_payment" placeholder="Select Payment">
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- Amount Paid - amount_paid - text - required -->
                <div class="form-group">
                  <input class="form-control" [disabled]="Item.order_status == 1" [(ngModel)]="Item.amount_paid"
                    name="amount_paid" #amount_paid="ngModel" type="text" placeholder="Enter Amount Paid" required>
                  <div class="error" *ngIf="amount_paid.touched && !amount_paid.valid"> Amount Paid
                    is
                    required</div>
                </div>
                <!-- End of Amount Paid -->
              </div>

              <div class="col-md-6">
                <!-- Discount Percentage % - order_discount - text - required -->
                <div class="form-group">
                  <input class="form-control" [(ngModel)]="Item.order_discount" name="order_discount"
                    #order_discount="ngModel" type="text" placeholder="Enter Discount Percentage % ( default = 0 )"
                    required>
                </div>
                <!-- End of Discount Percentage % -->
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-8 mb-3">
                <div class="form-group text-center ">
                  <button class="btn btn-primary" style="width: 100%;" type="submit"> <i class="fa fa-cart-plus"
                      aria-hidden="true"></i>
                    Commit Sales</button>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <div class="form-group text-center ">
                  <button class="btn btn-light" style="width: 100%;" (click)="print_bill(formValues2)"> <i
                      class="fas fa-print    "></i> Print Bill</button>
                </div>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>



<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <<  Customer - Factor -   >> -->
        <form #formValues1="ngForm" (ngSubmit)="create_customer(formValues1)" class="pl-3 pr-3">

          <!-- Customer Name - customer_name - text - required -->
          <div class="form-group">
            <label>Customer Name <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.customer_name" name="customer_name" #customer_name="ngModel"
              type="text" placeholder="Enter Customer Name" required>
            <div class="error" *ngIf="customer_name.touched && !customer_name.valid"> Contact
              Person is
              required</div>
          </div>
          <!-- End of Customer Name -->

          <!-- Customer mobile - customer_mobile - text - required -->
          <div class="form-group">
            <label>Customer mobile <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.customer_mobile" name="customer_mobile"
              #customer_mobile="ngModel" type="text" placeholder="Enter Customer mobile" required>
            <div class="error" *ngIf="customer_mobile.touched && !customer_mobile.valid">
              Customer mobile is
              required</div>
          </div>
          <!-- End of Customer address -->

          <!-- Customer address - customer_address - text - required -->
          <div class="form-group">
            <label>Customer address <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.customer_address" name="customer_address"
              #customer_address="ngModel" type="text" placeholder="Enter Customer address" required>
            <div class="error" *ngIf="customer_address.touched && !customer_address.valid">
              Customer address is
              required</div>
          </div>
          <!-- End of Customer address -->

          <!-- Customer GSTN - customer_gstn - text - required -->
          <div class="form-group">
            <label>Customer GSTN ( Optional ) </label>
            <input class="form-control" [(ngModel)]="Factor.customer_gstn" name="customer_gstn" #customer_gstn="ngModel"
              type="text" placeholder="Enter Customer GSTN" required>
          </div>
          <!-- End of Customer GSTN -->

          <!-- Feedback - customer_feedback - text  -->
          <div class="form-group">
            <label>Feedback ( Optional )</label>
            <textarea class="form-control" [(ngModel)]="Factor.customer_feedback" name="customer_feedback"
              #customer_feedback="ngModel" type="text" placeholder="Enter Feedback" value=""></textarea>
          </div>
          <!-- End of Feedback -->

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Create Customer</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->
