  <div class="page-breadcrumb">
    <div class="row d-flex justify-content-between align-items-center mx-3">
      <div>

        <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Credit Management
        </h3>

      </div>
      <div>

      </div>
    </div>
  </div>

  <!-- <div class="container mt-3">
    <div class="example-action-buttons float-left">
      <h3> Active Jobs </h3>
    </div>
    <div class="example-action-buttons float-right">
      <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
    </div> <br>
    <mat-accordion class="example-headers-align container" multi>
      <mat-expansion-panel *ngFor="let factor of Schemes">
        <mat-expansion-panel-header>
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">{{factor.expense_title}} -
                {{factor.expense_price | currency:'INR':'symbol'}}</h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">Created at : {{factor.time_stamp | date : 'mediumDate'}}
              </h4>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <div class="row container">
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br> {{factor.customer_name}} <br>
                {{factor.customer_address}} - {{factor.customer_city}} <br> {{factor.customer_mobile}} </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">
                Job Reference No. : {{factor.task_description}}
              </h4>
            </mat-panel-description>
          </div>
        </div>
        <mat-action-row style="zoom: 80%;">

          <button class="mr-4 btn btn-rounded btn-light" color="primary" (click)="show_edit(factor)" form="myform"
            type="submit"><i class="fas fa-edit    "></i></button>
          <button class="mr-4 btn btn-rounded btn-light" color="danger" (click)="delete_scheme(factor)"><i
              class="fa fa-trash" aria-hidden="true"></i></button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div> -->

  <body id="page-top">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid px-4">
            <p class=""></p>
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">Your Credits</h4>
                <div class="">
                  <a data-toggle="modal" data-target="#create-scheme-modal" [routerLink]="['/routePath']"
                    class="d-sm-inline mx-2 btn btn-sm btn-primary shadow-sm"><i
                      class="ti-plus"></i>
                    Add Scheme</a>
                  <a data-toggle="modal" data-target="#create-scheme-plan-modal" [routerLink]="['/routePath']"
                    class="d-sm-inline mx-2 btn btn-sm btn-primary shadow-sm"><i
                      class="ti-plus"></i>
                    Add New Credit</a>
                </div>
              </div>

            <div class="card-body">
              <div class="dot-opacity-loader" *ngIf="Instances?.length == 0">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="table-responsive" *ngIf="Instances?.length != 0">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th>Customer Name</th>
                        <th>Balance Amount</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Time Stamp</th>
                        <th>Options</th>
                      </tr>
                    </thead>

                    <!-- Start of DataTable -->
                    <tbody>
                      <tr *ngFor="let factor of Instances">
                        <td>{{factor.customer_name}}</td>
                        <td>{{factor.instance_balance | currency:'INR':'symbol'}}</td>
                        <td>{{factor.instance_start_time | date:'mediumDate'}}</td>
                        <td>{{factor.instance_end_time | date:'mediumDate'}}</td>
                        <td>{{factor.time_stamp | date:'mediumDate'}}</td>

                        <td style="cursor: pointer; text-align: center;" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a (click)="show_edit(factor)" class="dropdown-item">Edit Expense</a>
                            <a (click)="delete_scheme(factor)" class="dropdown-item text-danger">Delete Expense</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <!-- End of DataTable -->


                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>


  <!-- Create  Scheme modal content -->
  <div id="create-scheme-plan-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <!-- <<  Expense - Scheme -   >> -->
          <form #formValues1="ngForm" (ngSubmit)="create_scheme_plan(formValues1)" class="pl-3 pr-3">

            <!-- Scheme - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Scheme</label>
              <ng-select [items]="Schemes" bindLabel="scheme_name" autofocus bindValue="scheme_id" name="scheme"
                [(ngModel)]="Plan.scheme" placeholder="Select Scheme">
              </ng-select>
            </div>
            <!-- End of Select Scheme -->

            <!-- Customer - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Customers</label>
              <ng-select [items]="Customers" bindLabel="customer_name" autofocus bindValue="customer_id" name="customer"
                [(ngModel)]="Plan.customer" placeholder="Select Customer">
              </ng-select>
            </div>
            <!-- End of Select Customer -->

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Add Plan</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Create Scheme -->



  <!-- Edit  Scheme modal content -->
  <div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues2="ngForm" (ngSubmit)="edit_scheme(formValues2)" class="pl-3 pr-3">

            <!-- Expense Title - expense_title - text - required -->
            <div class="form-group">
              <label>Expense Title <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Scheme.expense_title" name="expense_title"
                #expense_title="ngModel" type="text" placeholder="Enter Expense Title" required>
              <div class="error" *ngIf="expense_title.touched && !expense_title.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Expense Title -->

            <!-- Expense Type - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Expense Type ( Optional )</label>
              <ng-select [items]="Schemes" bindLabel="expense_type_name" autofocus bindValue="expense_type_id"
                name="factor" [(ngModel)]="Scheme.expense_type" placeholder="Select Expense Type">
              </ng-select>
            </div>
            <!-- End of Select Expense Type -->

            <!-- Expense Amount - expense_price - text - required -->
            <div class="form-group">
              <label>Expense Amount <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Scheme.expense_price" name="expense_price"
                #expense_price="ngModel" type="text" placeholder="Enter Expense Amount" required>
              <div class="error" *ngIf="expense_price.touched && !expense_price.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Expense Amount -->


            <div class="form-group text-center">
              <button (click)=delete_scheme(Scheme) class="btn btn-light">Delete</button>
              <button class="btn btn-primary" type="submit">Update Expense</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Scheme -->


  <!-- Edit  Scheme modal content -->
  <div id="create-scheme-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues4="ngForm" (ngSubmit)="create_scheme(formValues4)" class="pl-3 pr-3">

            <!-- Scheme name - scheme_name - text - required -->
            <div class="form-group">
              <label>Scheme name <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Scheme.scheme_name" name="scheme_name" #scheme_name="ngModel"
                type="text" placeholder="Enter Scheme name" required>
              <div class="error" *ngIf="scheme_name.touched && !scheme_name.valid"> Scheme name is
                required</div>
            </div>
            <!-- End of Scheme name -->

            <!-- Scheme Type - scheme_type - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Scheme Type <span>*</span> </label>
              <ng-select [items]="SCHEME_TYPE" bindLabel="value" autofocus bindValue="id"
                [(ngModel)]="Scheme.scheme_type" name="scheme_type" placeholder="Scheme Type">
              </ng-select>
            </div>
            <!-- End of Scheme Type -->


            <!-- Scheme amount - scheme_amount - text - required -->
            <div class="form-group">
              <label>Scheme amount <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Scheme.scheme_amount" name="scheme_amount"
                #scheme_amount="ngModel" type="text" placeholder="Enter Scheme amount" required>
              <div class="error" *ngIf="scheme_amount.touched && !scheme_amount.valid"> Scheme amount is
                required</div>
            </div>
            <!-- End of Scheme amount -->

            <!-- Instance Count - instance_count - text - required -->
            <div class="form-group">
              <label>Instance Count <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Scheme.instance_count" name="instance_count"
                #instance_count="ngModel" type="text" placeholder="Enter Instance Count" required>
              <div class="error" *ngIf="instance_count.touched && !instance_count.valid"> Instance Count is
                required</div>
            </div>
            <!-- End of Instance Count -->

            <!-- Instance Amount - instance_amount - text - required -->
            <div class="form-group">
              <label>Instance Amount <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Scheme.instance_amount" name="instance_amount"
                #instance_amount="ngModel" type="text" placeholder="Enter Instance Amount" required>
              <div class="error" *ngIf="instance_amount.touched && !instance_amount.valid"> Instance Amount is
                required</div>
            </div>
            <!-- End of Instance Amount -->

            <!-- Intrest Amount - intrest_amount - text - required -->
            <div class="form-group">
              <label>Intrest Amount <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Scheme.intrest_amount" name="intrest_amount"
                #intrest_amount="ngModel" type="text" placeholder="Enter Intrest Amount" required>
              <div class="error" *ngIf="intrest_amount.touched && !intrest_amount.valid"> Intrest Amount is
                required</div>
            </div>
            <!-- End of Intrest Amount -->

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Add Scheme</button>
            </div>


          </form>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let factor of Schemes">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{factor.scheme_name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button class="btn btn-light" (click)="delete_scheme(factor)">Delete Expense Type</button>
              <!-- <p>This is the primary content of the panel.</p> -->
            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Scheme -->
