  <div class="page-breadcrumb">
    <div class="row d-flex justify-content-between align-items-center mx-3">
      <div>

        <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Expense Management
        </h3>

      </div>
      <div>

      </div>
    </div>
  </div>

  <div class="container mt-3" *ngIf="!config['isTable'].expense_management">
    <div class="example-action-buttons float-left">
      <h3> Active Jobs </h3>
    </div>
    <div class="example-action-buttons float-right">
      <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
    </div> <br>
    <mat-accordion class="example-headers-align container" multi>
      <mat-expansion-panel *ngFor="let factor of Factors">
        <mat-expansion-panel-header>
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">{{factor.expense_title}} -
                {{factor.expense_price | currency:'INR':'symbol'}}</h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">Created at : {{factor.time_stamp | date : 'mediumDate'}}
              </h4>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <div class="row container">
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br> {{factor.customer_name}} <br>
                {{factor.customer_address}} - {{factor.customer_city}} <br> {{factor.customer_mobile}} </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">
                Job Reference No. : {{factor.task_description}}
              </h4>
            </mat-panel-description>
          </div>
        </div>
        <mat-action-row style="zoom: 80%;">

          <button class="mr-4 btn btn-rounded btn-light" color="primary" (click)="show_edit(factor)" form="myform"
            type="submit"><i class="fas fa-edit    "></i></button>
          <button class="mr-4 btn btn-rounded btn-light" color="danger" (click)="delete_factor(factor)"><i
              class="fa fa-trash" aria-hidden="true"></i></button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

  <body id="page-top" *ngIf="config['isTable'].expense_management">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid px-4">
            <p class=""></p>
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">Your Expenses</h4>
                <div class="">
                  <a data-toggle="modal" data-target="#create-expense-modal" [routerLink]="['/routePath']"
                    class="d-sm-inline mx-2 btn btn-sm btn-primary shadow-sm"><i
                      class="ti-plus"></i>
                    Add Expense Type</a>
                  <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/routePath']"
                    class="d-sm-inline mx-2 btn btn-sm btn-primary shadow-sm"><i
                      class="ti-plus"></i>
                    Create Expense</a>
                </div>
              </div>

            <div class="card-body">
              <div class="dot-opacity-loader" *ngIf="Factors?.length == 0">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="table-responsive" *ngIf="Factors?.length != 0">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th>Expense Title</th>
                        <th>Amount</th>
                        <th>Time Stamp</th>
                        <th>Options</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Expense Title</th>
                        <th>Amount</th>
                        <th>Time Stamp</th>
                        <th>Options</th>
                      </tr>
                    </tfoot>

                    <!-- Start of DataTable -->
                    <tbody>
                      <tr *ngFor="let factor of Factors">
                        <td>{{factor.expense_title}}</td>
                        <td>{{factor.expense_price | currency:'INR':'symbol'}}</td>
                        <td>{{factor.time_stamp | date:'mediumDate'}}</td>

                        <td style="cursor: pointer; text-align: center;" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a (click)="show_edit(factor)" class="dropdown-item">Edit Expense</a>
                            <a (click)="delete_factor(factor)" class="dropdown-item text-danger">Delete Expense</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <!-- End of DataTable -->


                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>


  <!-- Create  Factor modal content -->
  <div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <!-- <<  Expense - Factor -   >> -->
          <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

            <!-- Expense Title - expense_title - text - required -->
            <div class="form-group">
              <label>Expense Title <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.expense_title" name="expense_title"
                #expense_title="ngModel" type="text" placeholder="Enter Expense Title" required>
              <div class="error" *ngIf="expense_title.touched && !expense_title.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Expense Title -->

            <!-- Expense Type - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Expense Type ( Optional )</label>
              <ng-select [items]="Types" bindLabel="expense_type_name" autofocus bindValue="expense_type_id"
                name="factor" [(ngModel)]="Factor.expense_type" placeholder="Select Expense Type">
              </ng-select>
            </div>
            <!-- End of Select Expense Type -->

            <!-- Expense Amount - expense_price - text - required -->
            <div class="form-group">
              <label>Expense Amount <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.expense_price" name="expense_price"
                #expense_price="ngModel" type="text" placeholder="Enter Expense Amount" required>
              <div class="error" *ngIf="expense_price.touched && !expense_price.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Expense Amount -->

            <div class="row">
              <div class="col-6">
                <!-- Payment Status - form - [ value - id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <label>Payment Status</label>
                  <ng-select [items]="EXPENSE_PAYMENT" bindLabel="value" autofocus bindValue="id" name="expense_payment"
                    [(ngModel)]="Factor.expense_payment" placeholder="Select Payment Status">
                  </ng-select>
                </div>
                <!-- End of Select Payment Status -->
              </div>
              <div class="col-6">
                <!-- Account Type - form - [ value - id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <label>Account Type</label>
                  <ng-select [items]="ACCOUNT_TYPE" bindLabel="value" autofocus bindValue="id" name="account_type"
                    [(ngModel)]="Factor.account_type" placeholder="Select Account Type">
                  </ng-select>
                </div>
                <!-- End of Select Account Type -->

              </div>
            </div>

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Create Expense</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Create Factor -->



  <!-- Edit  Factor modal content -->
  <div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

            <!-- Expense Title - expense_title - text - required -->
            <div class="form-group">
              <label>Expense Title <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.expense_title" name="expense_title"
                #expense_title="ngModel" type="text" placeholder="Enter Expense Title" required>
              <div class="error" *ngIf="expense_title.touched && !expense_title.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Expense Title -->

            <!-- Expense Type - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Expense Type ( Optional )</label>
              <ng-select [items]="Types" bindLabel="expense_type_name" autofocus bindValue="expense_type_id"
                name="factor" [(ngModel)]="Factor.expense_type" placeholder="Select Expense Type">
              </ng-select>
            </div>
            <!-- End of Select Expense Type -->

            <!-- Expense Amount - expense_price - text - required -->
            <div class="form-group">
              <label>Expense Amount <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.expense_price" name="expense_price"
                #expense_price="ngModel" type="text" placeholder="Enter Expense Amount" required>
              <div class="error" *ngIf="expense_price.touched && !expense_price.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Expense Amount -->

            <div class="row">
              <div class="col-6">
                <!-- Payment Status - form - [ value - id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <label>Payment Status</label>
                  <ng-select [items]="EXPENSE_PAYMENT" bindLabel="value" autofocus bindValue="id" name="expense_payment"
                    [(ngModel)]="Factor.expense_payment" placeholder="Select Payment Status">
                  </ng-select>
                </div>
                <!-- End of Select Payment Status -->
              </div>
              <div class="col-6">
                <!-- Account Type - form - [ value - id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <label>Account Type</label>
                  <ng-select [items]="ACCOUNT_TYPE" bindLabel="value" autofocus bindValue="id" name="account_type"
                    [(ngModel)]="Factor.account_type" placeholder="Select Account Type">
                  </ng-select>
                </div>
                <!-- End of Select Account Type -->

              </div>
            </div>

            <div class="form-group text-center">
              <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
              <button class="btn btn-primary" type="submit">Update Expense</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->


  <!-- Edit  Factor modal content -->
  <div id="create-expense-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues4="ngForm" (ngSubmit)="add_expense_type(formValues4)" class="pl-3 pr-3">

            <!-- Expense Type name - expense_type_name - text - required -->
            <div class="form-group">
              <label>Expense Type name</label>
              <input class="form-control" [(ngModel)]="ExpenseType.expense_type_name" name="expense_type_name"
                #expense_type_name="ngModel" type="text" placeholder="Enter Expense Type name" required>
              <div class="error" *ngIf="expense_type_name.touched && !expense_type_name.valid"> Expense Type name is
                required</div>
            </div>
            <!-- End of Expense Type name -->


            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Add Expense Type</button>
            </div>


          </form>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let factor of Types">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{factor.expense_type_name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button class="btn btn-light" (click)="delete_expense_type(factor)">Delete Expense Type</button>
              <!-- <p>This is the primary content of the panel.</p> -->
            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->
