<div class="pre-header mb-3">
  <div class="part-one" contenteditable>
    <p>GST No : {{ Invoice?.gsit }}</p>
    <p>&nbsp;</p>
  </div>

  <div
    class="part-two d-flex flex-column align-items-center"
    style="font-size: 12px !important"
    contenteditable
  >
    <div>
      <p>உ</p>
    </div>
    <div>
      <!-- Madasamy Thunai -->
      <p>{{ Invoice?.invoice_header1 }}</p>
    </div>
  </div>

  <div
    class="part-three d-flex flex-column align-items-center"
    style="zoom: 80%"
    contenteditable
  >
    <div style="border-bottom: 3px solid green; padding-bottom: 0.3em">
      <p>Cell : {{ Invoice?.shop_mobile }}</p>
    </div>
    <div style="padding-top: 0.3em">
      <p>Email : {{ Invoice?.owner_name }}</p>
    </div>
  </div>
</div>

<header>
  <h1>TAX INVOICE</h1>
  <div class="part-three">
    <span><img src="{{ Invoice?.shop_logo }}" /></span>
    <address
      class="d-flex flex-column align-items-center text-center"
      contenteditable
    >
      <h2>{{ Invoice?.shop_name }}</h2>
      <!-- Manufacture of -->
      <p>{{ Invoice?.invoice_header2 }}</p>
      <!-- High class loban -->
      <p>{{ Invoice?.invoice_header3 }}</p>
      <!-- Address -->
      <p>
        {{ Invoice?.shop_address_1 }} {{ Invoice?.shop_address_2 }}
        {{ Invoice?.shop_address_3 }}
      </p>
    </address>

    <span class="flip"><img src="{{ Invoice?.shop_logo }}" /></span>
  </div>
</header>

<div
  style="border-top: 2px solid rgba(128, 128, 128, 0.23); margin-bottom: 10px"
></div>

<article>
  <!-- <address contenteditable>
        <h2>Recipient : </h2>
        <p>{{Invoice?.customer_name}}</p>
        <p>{{Invoice?.customer_mobile}}</p>
        <p>{{Invoice?.customer_address}}</p>
      </address> -->
  <table class="info">
    <tr>
      <th *ngIf="Invoice?.customer_name != 'Without Customer'">
        <span contenteditable>Recepitent </span>
      </th>
      <th
        *ngIf="
          Invoice?.dispatch_from &&
          Invoice?.dispatch_to &&
          Invoice?.dispatch_name
        "
      >
        <span contenteditable>Dispatch </span>
      </th>
      <th style="width: 25%"><span contenteditable>Invoice </span></th>
    </tr>
    <tr>
      <td *ngIf="Invoice?.customer_name != 'Without Customer'">
        <span contenteditable>
          <p>{{ Invoice?.customer_name }}</p>
          <p>{{ Invoice?.customer_mobile }}</p>
          <p>{{ Invoice?.customer_address }}</p>
          <p *ngIf="Invoice?.customer_gstn">
            GSTIN : {{ Invoice?.customer_gstn }}
          </p>
        </span>
      </td>
      <td
        *ngIf="
          Invoice?.dispatch_from &&
          Invoice?.dispatch_to &&
          Invoice?.dispatch_name
        "
      >
        <p *ngIf="Invoice?.dispatch_from">
          <span contenteditable
            >Dispatch From : {{ Invoice?.dispatch_from }}</span
          >
        </p>
        <p *ngIf="Invoice?.dispatch_to">
          <span contenteditable>Dispatch to : {{ Invoice?.dispatch_to }}</span>
        </p>
        <p *ngIf="Invoice?.dispatch_name">
          <span>Lorry : {{ Invoice?.dispatch_name }}</span>
        </p>
        <p *ngIf="Invoice?.dispatch_agent">
          <span>Agent name : {{ Invoice?.dispatch_agent }}</span>
        </p>
        <p *ngIf="Invoice?.dispatch_thro">
          <span>Payments thro' : {{ Invoice?.dispatch_thro }}</span>
        </p>
        <!-- <p><span contenteditable>{{Invoice?.time_stamp | date:'mediumDate'}}</span></p> -->
      </td>
      <td>
        <p>
          <span contenteditable
            >Invoice No :
            <strong
              >{{ Invoice?.invoice_prefix }}{{ Invoice?.order_no }}</strong
            >
          </span>
        </p>
        <p>
          <span contenteditable
            >Date :
            <strong>{{
              Invoice?.time_stamp | date: "dd/MM/yyyy"
            }}</strong></span
          >
        </p>
        <!-- <p><span>Amount due :  class="rupee" {{Invoice?.order_balance}}</span></p> -->
        <p *ngIf="Invoice?.order_payment == 2"><span contenteditable><strong>Bill type : Credit</strong></span></p>
      </td>
    </tr>
  </table>
  <!-- <table class="meta">
        <tr>
          <th><span contenteditable>Invoice </span></th>
        </tr>
        <tr>
          <th><span contenteditable>Date</span></th>
        </tr>
        <tr>
          <th><span contenteditable>Amount Due</span></th>
        </tr>
      </table> -->

  <div
    style="border-top: 2px solid rgba(128, 128, 128, 0.23); margin: 10px 0px"
  ></div>

  <table class="inventory">
    <thead>
      <tr>
        <th><span contenteditable>Particulars</span></th>
        <th><span contenteditable>HSN Code</span></th>
        <th><span contenteditable>GST %</span></th>
        <th><span contenteditable>Rate</span></th>
        <th><span contenteditable>Quantity</span></th>
        <th><span contenteditable>Price</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factor of Invoice?.order_items">
        <td>
          <span contenteditable>{{ factor?.product_name }}</span>
        </td>
        <td>
          <span contenteditable>{{ factor?.product_code }}</span>
        </td>
        <td>
          <span contenteditable>{{ factor?.product_gst }} %</span>
        </td>

        <td>
          <span contenteditable class="rupee">
            <img src="../../../../assets/icons/rupee-indian.png" alt="rupee" />
            {{ factor?.product_price | currency:'INR':'' }}</span
          >
        </td>
        <td *ngIf="factor?.product_quantity_value">
          <span contenteditable>{{ factor?.product_quantity_value }}</span>
        </td>
        <td *ngIf="!factor?.product_quantity_value">
          <span contenteditable>---</span>
        </td>
        <td style="font-weight: bolder; font-size: 1.1em">
          <span contenteditable class="rupee"
            ><img src="../../../../assets/icons/rupee-indian.png" alt="rupee" />
            {{ factor?.item_wo_gst_price | currency:'INR':'' }}</span
          >
        </td>
      </tr>
    </tbody>
  </table>
  <table class="balance">
    <tr>
      <th><span contenteditable>Total</span></th>
      <td>
        <span contenteditable class="rupee"
          ><img src="../../../../assets/icons/rupee-indian.png" alt="rupee" />
          {{ Invoice?.order_wo_gst_price | currency:'INR':'' }}</span
        >
      </td>
    </tr>
    <tr>
      <th><span contenteditable>IGST</span></th>
      <td>
        <span contenteditable class="rupee"
          ><img src="../../../../assets/icons/rupee-indian.png" alt="rupee" />
          {{ Invoice?.order_gst_price | currency:'INR':'' }}</span
        >
      </td>
    </tr>
    <tr>
      <th><span contenteditable>Extras</span></th>
      <td>
        <span contenteditable class="rupee"
          ><img src="../../../../assets/icons/rupee-indian.png" alt="rupee" />0</span
        >
      </td>
    </tr>
    <!-- <tr>
      <th><span contenteditable>Balance Amount</span></th>
      <td><span contenteditable class="rupee" <img
              src="../../../../assets/icons/rupee-indian.png"
              alt="rupee"> >{{Invoice?.order_balance}}</span></td>
    </tr> -->
    <tr>
      <th style="font-weight: bolder; vertical-align: middle">
        <span contenteditable>Net Amount Rs.</span>
      </th>
      <td style="font-weight: bolder; font-size: 1.3em">
        <span contenteditable class="rupee"
          ><img src="../../../../assets/icons/rupee-indian.png" alt="rupee" />
          {{ Invoice?.order_price | currency:'INR':'' }}</span
        >
      </td>
    </tr>
  </table>
  <table
    class="bank"
    *ngIf="Invoice?.bank_name && Invoice?.bank_account_no && Invoice?.bank_ifsc"
  >
    <tr>
      <th><span contenteditable>Bank Name</span></th>
      <td>
        <span contenteditable>{{ Invoice?.bank_name }}</span>
      </td>
    </tr>
    <tr>
      <th><span contenteditable>Account No.</span></th>
      <td>
        <span contenteditable>{{ Invoice?.bank_account_no }}</span>
      </td>
    </tr>
    <tr>
      <th><span contenteditable>IFSC Code</span></th>
      <td>
        <span contenteditable>{{ Invoice?.bank_ifsc }}</span>
      </td>
    </tr>
  </table>
</article>

<div class="footer-pre">
  <div class="price-text">
    <p><span contenteditable>Total cases : -</span></p>
    <p>({{ Invoice?.order_price_text }} Only)</p>
  </div>
  <div class="authority-sign">
    <p>For {{ Invoice?.shop_name }}</p>
  </div>
</div>
<!-- <aside>
      <h1><span contenteditable>Additional Notes</span></h1>
      <div contenteditable>
        <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
      </div>
    </aside> -->
