// Own CSS
$base-color: rgba(0, 128, 0, 0.521);
$table-header: green;
$table-body: green;
$font-color: green;

* {
  color: green;
}

td .rupee {
  display: flex;
  justify-content: flex-end !important;
  text-align: left;
  align-items: center;
}

.rupee img {
  opacity: 0.7;
  width: 0.8em;
}

.pre-header {
  display: flex;
  font-weight: 700;
  font-size: 1.6em;
  justify-content: space-between;
  align-items: flex-start;

  .part-one p,
  .part-three p {
    color: red !important;
    font-size: 1em;
  }

  .part-two p {
    font-size: 0.85em !important;
  }


}

.footer-pre {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 1.4em;
  }

  .authority-sign {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;

    p {
      border-bottom: 2px solid $base-color;
      margin-bottom: 20px;
      font-size: 1.4em;
    }
  }
}

.pre-header p {
  margin: 0;
  color: $font-color;
}

.pre-header hr {
  color: $font-color;
  margin: 0;
  width: 20px;
}


/* header */

header {
  margin: 0 0 1em;
  border: 4px solid $base-color;

  .part-three {
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      width: 20%;
    }

    address {
      width: 80%;
    }
  }

  h1 {
    background: $base-color;
    color: #FFF;
    margin: 0 0 1em;
    padding: 0.5em 0;
  }

  address {
    float: left;
    font-style: normal;
    line-height: 1.25;
    width: 100%;
    color: $base-color;
  }

  address p {
    font-size: 1.3em;
    font-weight: 500;
    color: $font-color;
    margin: 0 0 0.25em;
  }

  address h2 {
    text-transform: uppercase;
    font-size: 2.8em;
    padding: 0.3em 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: red;
    line-height: 1em;
    border-bottom: 4px solid red;
    letter-spacing: 1.5px;
  }

}

header:after {
  clear: both;
  content: "";
  display: table;
}





header span,
header img {
  display: block;
  float: left;
}

header span {
  margin: 0 0 1em 1em;
  max-height: 25%;
  max-width: 20%;
  // position: relative;
}

header img {
  max-height: 100%;
  max-width: 100%;
}

* {
  border: 0;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: content-box;
  // background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  vertical-align: top;
}

/* content editable */

*[contenteditable] {
  border-radius: 0.25em;
  min-width: 1em;
  outline: 0;
}

*[contenteditable] {
  cursor: pointer;
}

*[contenteditable]:hover,
*[contenteditable]:focus,
td:hover *[contenteditable],
td:focus *[contenteditable],
img.hover {
  background: #DEF;
  box-shadow: 0 0 1em 0.5em #DEF;
}

span[contenteditable] {
  display: inline-block;
}

/* heading */
.info {  
  p {
    font-size: 1em;
  }
}

h1 {
  font: bold 100% sans-serif;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

/* table */

table {
  font-size: .9em;
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 4px;
}

th,
td {
  // border-width: 1px;
  padding: 0.5em;
  position: relative;
  text-align: left;
}

td {
  span {
    font-weight: 600;
  }

  font-weight: 600;
}

th,
td {
  font-weight: 600;
  border-radius: 0.05em;
  border-style: solid;
}

th {
  background: rgba($table-header, 0.2);
  border-color: #BBB;
}

tr {
  background: rgba($table-body, 0.1);
  border-color: #BBB;
}

td {
  border-color: $table-body;
}

td p,
td span {
  margin: 0;
  font-weight: 600;
  font-size: 1.2em;
}

.info td p {
  line-height: 2em;
}

/* article */

article,
article address,
table.meta,
table.inventory {
  margin: 0 0 3em;
}

article:after {
  clear: both;
  content: "";
  display: table;
}

article h1 {
  clip: rect(0 0 0 0);
  position: absolute;
}

article h2 {
  margin-bottom: 3%;
}

article address {
  float: right;
  margin-bottom: 2.4em;

  // font-size: 10-%;
  // font-weight: bold;
}

#print-section {
  position: relative;
  height: 100%;
  // border: 3px solid red;
}


.sign {
  position: absolute;
  right: 10px;
  bottom: 10px;
  // border: 3px solid #8AC007;
}

/* table meta & balance */

table.meta,
table.balance {
  float: right;
  width: 45%;
}

table.meta,
table.bank {
  float: left;
  width: 55%;

  th {
    width: 35%;
  }
}

table.meta:after,
table.balance:after {
  clear: both;
  content: "";
  display: table;
}

/* table meta */

table.meta th {
  width: 40%;
}

table.meta td {
  width: 60%;
}

/* table items */

table.inventory {
  clear: both;
  // width: 100%;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

table.inventory th {
  font-weight: bold;
  text-align: center;
}

table.inventory td:nth-child(1) {
  width: 35% !important;
}

table.inventory th:nth-child(1) {
  width: 35em !important;
}

table.inventory td:nth-child(2) {
  text-align: left;
  width: 29%;
}

table.inventory td:nth-child(3) {
  text-align: center;
  width: 1%;
}

table.inventory td:nth-child(4) {
  text-align: right !important;
  width: 6%;
}

table.inventory td:nth-child(5) {
  text-align: center;
  width: 6%;
}

table.inventory td:nth-child(6) {
  text-align: right !important;
  width: 12%;
}

/* table balance */

table.balance th,
table.balance td {
  width: 50%;
}

table.balance td {
  text-align: right;
}

/* aside */

aside h1 {
  border: none;
  border-width: 0 0 1px;
  margin: 0 0 1em;
}

aside h1 {
  border-color: #999;
  border-bottom-style: solid;
}

/* javascript */


@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  html {
    background: none;
    padding: 0;
    overflow: hidden;
  }

  body {
    box-shadow: none;
    margin: 0;
  }

  span:empty {
    display: none;
  }

  .banner {
    background: none;
    display: none;
  }

  .back-to-home {
    display: none;
  }

  .hide {
    display: none;
  }

  .add,
  .cut {
    display: none;
  }
}


@media print {
  body * {
    visibility: hidden;
  }

  #print-section,
  #print-section * {
    visibility: visible;
  }

  #print-section {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@page {
  margin: 0;
}
