
  <div class="page-breadcrumb">
    <div class="row d-flex justify-content-between align-items-center mx-3">
      <div>

        <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Purchase Management
        </h3>

      </div>
      <div>
        <!-- <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/routePath']"
        class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="ti-plus"></i>
        Create Purchase</a> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="mt-3  p-3 table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th>Product Count</th>
              <td>{{Report[0]?.product_count}}</td>
            </tr>
            <tr>
              <th>No. of sales</th>
              <td>{{Report[0]?.product_count}}</td>
            </tr>
            <tr>
              <th>No. of Purchases</th>
              <td>{{Report[0]?.purchase_count}}</td>
            </tr>
            <tr>
              <th>No. of Expenses</th>
              <td>{{Report[0]?.expense_count}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-6">
      <div class="mt-3  p-3 table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th>Product Valuation</th>
              <td>{{Report[0]?.product_valuation | currency:'INR':'symbol' }}</td>
            </tr>
            <tr>
              <th>Sales Revenue</th>
              <td>{{Report[0]?.order_amount | currency:'INR':'symbol'}}</td>
            </tr>
            <tr>
              <th>Purchase Amount</th>
              <td>{{Report[0]?.purchase_amount | currency:'INR':'symbol'}}</td>
            </tr>
            <tr>
              <th>Expense Amount</th>
              <td>{{Report[0]?.expense_amount | currency:'INR':'symbol'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="mt-3  p-3 table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th>Sales Outstanding</th>
              <td>{{Report[0]?.order_balance_amount | currency:'INR':'symbol' }}</td>
            </tr>
            <tr>
              <th>Sales GST Amount</th>
              <td>{{Report[0]?.order_gst_amount | currency:'INR':'symbol'}}</td>
            </tr>
            <tr>
              <th>No. of Products [ Sold ]</th>
              <td>{{Report[0]?.order_product_numbers}}</td>
            </tr>
            <tr>
              <th>Discounted Amount</th>
              <td>{{Report[0]?.order_discounted_amount | currency:'INR':'symbol'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4">
      <div class="mt-3  p-3 table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th>Purchase Balance</th>
              <td>{{Report[0]?.purchase_balance_amount}}</td>
            </tr>
            <tr>
              <th>No. of purchases</th>
              <td>{{Report[0]?.product_count}}</td>
            </tr>
            <tr>
              <th>No. of Products [ Purchased ]</th>
              <td>{{Report[0]?.purchase_product_numbers}}</td>
            </tr>
            <!-- <tr>
            <th>No. of Expenses</th>
            <td>{{Report[0]?.expense_count}}</td>
          </tr> -->
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="col-4">
    <div class="mt-3  p-3 table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>Product Valuation</th>
            <td>{{Report[0]?.product_valuation | currency:'INR':'symbol' }}</td>
          </tr>
          <tr>
            <th>Sales Revenue</th>
            <td>{{Report[0]?.order_amount | currency:'INR':'symbol'}}</td>
          </tr>
          <tr>
            <th>Purchase Amount</th>
            <td>{{Report[0]?.purchase_amount | currency:'INR':'symbol'}}</td>
          </tr>
          <tr>
            <th>Expense Amount</th>
            <td>{{Report[0]?.expense_amount | currency:'INR':'symbol'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  </div>
