<div class="page-breadcrumb">
  <div class="row d-flex justify-content-between align-items-center mx-3">
    <div>
      <h3 class="page-title m-3 text-truncate text-dark font-weight-medium ml-3 mb-1">Purchase
        Management
      </h3>
    </div>
    <div>
      <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/routePath']"
        class="d-sm-inline btn btn-sm btn-primary shadow-sm mr-3"><i class="ti-plus"></i>
        Create Purchase</a>
    </div>
  </div>
</div>

<div class="container mt-3" *ngIf="!config['isTable'].purchase_management">
  <div class="example-action-buttons float-left">
    <h3> Active Jobs </h3>
  </div>
  <div class="example-action-buttons float-right">
    <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
  </div> <br>
  <mat-accordion class="example-headers-align container" multi>
    <mat-expansion-panel *ngFor="let factor of Factors">
      <mat-expansion-panel-header>
        <div class="col-6">
          <mat-panel-title>
            <h4 class="m-0 font-weight-bold text-primary">
              {{factor.purchase_price | currency:'INR':'symbol'}} - {{factor.vendor_name}}</h4>
          </mat-panel-title>
        </div>
        <div class="col-6">
          <mat-panel-description>
            <h4 class="m-0 font-weight-bold text-primary">Created at :
              {{factor.time_stamp | date : 'mediumDate'}}
            </h4>
          </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      <div class="row container">
        <div class="col-6">
          <mat-panel-title>
            <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br>
              {{factor.customer_name}} <br>
              {{factor.customer_address}} - {{factor.customer_city}} <br>
              {{factor.customer_mobile}}
            </h4>
          </mat-panel-title>
        </div>
        <div class="col-6">
          <mat-panel-description>
            <h4 class="m-0 font-weight-bold text-primary">
              Job Reference No. : {{factor.task_description}}
            </h4>
          </mat-panel-description>
        </div>
      </div>
      <mat-action-row style="zoom: 80%;">

        <button class="mr-4 btn btn-rounded btn-light" color="primary" (click)="show_edit(factor)" form="myform"
          type="submit"><i class="fas fa-edit    "></i></button>
        <button class="mr-4 btn btn-rounded btn-light" color="danger" (click)="delete_factor(factor)"><i
            class="fa fa-trash" aria-hidden="true"></i></button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>



<body id="page-top" *ngIf="config['isTable'].purchase_management">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid px-4">
          <p class=""></p>
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
              <h4 class="m-0 font-weight-bold text-primary">Your Purchases</h4>
              <div class="">

              </div>
            </div>

            <div class="card-body">
              <div class="dot-opacity-loader" *ngIf="Factors?.length == 0">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="table-responsive" *ngIf="Factors?.length != 0">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Amount</th>
                      <th>Balance</th>
                      <th>Vendor</th>
                      <th>Options</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Product</th>
                      <th>Amount</th>
                      <th>Balance</th>
                      <th>Vendor</th>
                      <th>Options</th>
                    </tr>
                  </tfoot>

                  <!-- Start of DataTable -->
                  <tbody>
                    <tr *ngFor="let factor of Factors">
                      <td>{{factor.product_name}} x {{factor.quantity}}</td>
                      <td>{{factor.purchase_price | currency:'INR':'symbol'}}</td>
                      <td>{{factor.purchase_balance | currency:'INR':'symbol'}}</td>
                      <td>{{factor.vendor_name}} - {{factor.vendor_mobile}}</td>

                      <td style="cursor: pointer; text-align: center;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a (click)="show_edit(factor)" class="dropdown-item">Edit Purchase</a>
                          <a (click)="delete_factor(factor)" class="dropdown-item text-danger">Delete Purchase</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <!-- End of DataTable -->


                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>


<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <<  Purchase - Factor -   >> -->
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

          <!-- Select Product - form - [ label - product_id ] - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Select Product</label>
            <ng-select [items]="Products" bindLabel="label" autofocus bindValue="product_id" name="factor"
              [(ngModel)]="Factor.product" placeholder="Select Select Product">
            </ng-select>
          </div>
          <!-- End of Select Select Product -->

          <!-- Select Vendor - form - [ label - vendor_id ] - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Select Vendor</label>
            <ng-select [items]="Vendors" bindLabel="label" autofocus bindValue="vendor_id" name="factor"
              [(ngModel)]="Factor.vendor" placeholder="Select Select Vendor">
            </ng-select>
          </div>
          <!-- End of Select Select Vendor -->

          <!-- Purchase Amount - purchase_price - text - required -->
          <div class="form-group">
            <label>Purchase Amount <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.purchase_price" name="purchase_price"
              #purchase_price="ngModel" type="text" placeholder="Enter Purchase Amount" required>
            <div class="error" *ngIf="purchase_price.touched && !purchase_price.valid"> Purchase
              Amount
              required</div>
          </div>
          <!-- End of Purchase Amount -->

          <!-- Purchase Quantity - quantity - text - required -->
          <div class="form-group">
            <label>Purchase Quantity <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.quantity" name="quantity" #quantity="ngModel" type="text"
              placeholder="Enter Purchase Quantity" required>
            <div class="error" *ngIf="quantity.touched && !quantity.valid"> Purchase Quantity is
              required</div>
          </div>
          <!-- End of Purchase Quantity -->

          <!-- Payment Status - form - [ value - id ] - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Payment Status</label>
            <ng-select [items]="PURCHASE_STATUS" bindLabel="value" autofocus bindValue="id" name="factor" value=1
              [(ngModel)]="Factor.purchase_status" placeholder="Select Payment Status">
            </ng-select>
          </div>
          <!-- End of Select Payment Status -->

          <!-- Paid Amount - amount_paid - text - required -->
          <div class="form-group" *ngIf="Factor.purchase_status == 1">
            <label>Paid Amount <span>*</span> </label>
            <input class=" form-control" [(ngModel)]="Factor.amount_paid" name="amount_paid" #amount_paid="ngModel"
              type="text" placeholder="Enter Paid Amount" required>
            <div class="error" *ngIf="amount_paid.touched && !amount_paid.valid"> Paid Amount is
              required</div>
          </div>
          <!-- End of Paid Amount -->
          <div class="row">
            <div class="col-6">
              <!-- Payment Status - form - [ value - id ] - ng-select - selectedIndustry -->
              <div class="form-group">
                <label>Payment Status</label>
                <ng-select [items]="PURCHASE_PAYMENT" bindLabel="value" autofocus bindValue="id" name="factor"
                  [(ngModel)]="Factor.purchase_payment" placeholder="Select Payment Status">
                </ng-select>
              </div>
              <!-- End of Select Payment Status -->
            </div>
            <div class="col-6">
              <!-- Account Type - form - [ value - id ] - ng-select - selectedIndustry -->
              <div class="form-group">
                <label>Account Type</label>
                <ng-select [items]="ACCOUNT_TYPE" bindLabel="value" autofocus bindValue="id" name="account_type"
                  [(ngModel)]="Factor.account_type" placeholder="Select Account Type">
                </ng-select>
              </div>
              <!-- End of Select Account Type -->

            </div>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Create Purchase</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->



<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

          <!-- Select Product - form - [ label - product_id ] - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Select Product</label>
            <ng-select [items]="Products" bindLabel="label" autofocus bindValue="product_id" name="product"
              [(ngModel)]="Factor.product" placeholder="Select Select Product">
            </ng-select>
          </div>
          <!-- End of Select Select Product -->

          <!-- Select Vendor - form - [ label - vendor_id ] - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Select Vendor</label>
            <ng-select [items]="Vendors" bindLabel="label" autofocus bindValue="vendor_id" name="vendor"
              [(ngModel)]="Factor.vendor" placeholder="Select Select Vendor">
            </ng-select>
          </div>
          <!-- End of Select Select Vendor -->

          <!-- Purchase Amount - purchase_price - text - required -->
          <div class="form-group">
            <label>Purchase Amount <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.purchase_price" name="purchase_price"
              #purchase_price="ngModel" type="text" placeholder="Enter Purchase Amount" required>
            <div class="error" *ngIf="purchase_price.touched && !purchase_price.valid"> Purchase
              Amount
              required</div>
          </div>
          <!-- End of Purchase Amount -->

          <!-- Purchase Quantity - quantity - text - required -->
          <div class="form-group">
            <label>Purchase Quantity <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.quantity" name="quantity" #quantity="ngModel" type="text"
              placeholder="Enter Purchase Quantity" required>
            <div class="error" *ngIf="quantity.touched && !quantity.valid"> Purchase Quantity is
              required</div>
          </div>
          <!-- End of Purchase Quantity -->

          <!-- Payment Status - form - [ value - id ] - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Payment Status</label>
            <ng-select [items]="PURCHASE_STATUS" bindLabel="value" autofocus bindValue="id" name="factor" value=1
              [(ngModel)]="Factor.purchase_status" placeholder="Select Payment Status">
            </ng-select>
          </div>
          <!-- End of Select Payment Status -->

          <!-- Paid Amount - amount_paid - text - required -->
          <div class="form-group" *ngIf="Factor.purchase_status == 1">
            <label>Balance Amount <span>*</span> </label>
            <input class=" form-control" [(ngModel)]="Factor.purchase_balance" name="purchase_balance"
              #purchase_balance="ngModel" type="text" placeholder="Enter Balance Amount" required>
            <div class="error" *ngIf="purchase_balance.touched && !purchase_balance.valid">
              Balance
              Amount is
              required</div>
          </div>

          <!-- End of Paid Amount -->
          <div class="row">
            <div class="col-6">
              <!-- Payment Status - form - [ value - id ] - ng-select - selectedIndustry -->
              <div class="form-group">
                <label>Payment Status</label>
                <ng-select [items]="PURCHASE_PAYMENT" bindLabel="value" autofocus bindValue="id" name="factor"
                  [(ngModel)]="Factor.purchase_payment" placeholder="Select Payment Status">
                </ng-select>
              </div>
              <!-- End of Select Payment Status -->
            </div>
            <div class="col-6">
              <!-- Account Type - form - [ value - id ] - ng-select - selectedIndustry -->
              <div class="form-group">
                <label>Account Type</label>
                <ng-select [items]="ACCOUNT_TYPE" bindLabel="value" autofocus bindValue="id" name="account_type"
                  [(ngModel)]="Factor.account_type" placeholder="Select Account Type">
                </ng-select>
              </div>
              <!-- End of Select Account Type -->

            </div>
          </div>

          <div class="form-group text-center">
            <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
            <button class="btn btn-primary" type="submit">Update Purchase</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
