<html>

<div class="container-fluid">
  <div class="banner row d-flex justify-content-between align-items-center">
    <div class="back-to-home ">
      <button [routerLink]="['/dashboard']" routerLinkActive="router-link-active"
        class="btn mx-4 btn-light d-flex justify-content-between align-items-center"> <i class=" mx-3 ti-arrow-left"
          aria-hidden="true"></i> Back to Home </button>
    </div>
    <div class="print-bill hide d-flex justify-content-between">
      <!-- https://api.whatsapp.com/send/?phone=918667884933&text=I%27m+interested+in+your+car+for+sale&app_absent=0 -->
      <div class="hide">
        <a class="btn px-2 mr-5 hide btn-light" (click)="share_on_whatsapp()">
          <i class=" mx-3 ti-sharethis text-dark-50"></i> Share on whatsapp </a>
      </div>
      <div class="hide" (click)="print_bill()">
        <button class="btn px-2 hide mr-5 btn-primary d-flex justify-content-between align-items-center"> <i
            class=" mx-3 ti-printer text-white"></i> Print Bill </button>
      </div>
    </div>

  </div>

</div>

<body style="background: url({{Invoice?.shop_logo}}),no-repeat, linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255,
  255, 0.85)) ;">
  <div id="print-section">
    <app-design-ind001 *ngIf="Invoice?.invoice_design_code == 'IND001' " [Invoice]="Invoice"></app-design-ind001>
    <app-design-in002 *ngIf="Invoice?.invoice_design_code == 'IND002' " [Invoice]="Invoice"></app-design-in002>
    <app-design-in003 *ngIf="Invoice?.invoice_design_code == 'IND003' " [Invoice]="Invoice"></app-design-in003>
    <app-design-in004 *ngIf="Invoice?.invoice_design_code == 'IND004' " [Invoice]="Invoice"></app-design-in004>
    <app-design-in005 *ngIf="Invoice?.invoice_design_code == 'IND005' " [Invoice]="Invoice"></app-design-in005>
  </div>
</body>
<div class="my-5 py-5"></div>

</html>
