.banner {
  background-color: rgba(242, 242, 242, 0);
  width: 100%;
  height: 7vh;
  margin: 0 !important;
  padding-top: 2em;
}

.banner i {
  color: #000;
}


body {
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5in !important;
  height: 15in;
  margin-top: 5em;
  width: 12.5in;
  background-color: rgba(255, 255, 255);
  background-repeat: no-repeat !important;
  background-position: 30% 50% !important;
  background-blend-mode: soft-light !important;
  filter: none;
}

body {
  border-radius: 1px;
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}



@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  html {
    background: none;
    overflow: hidden !important;
    padding: 0 !important;
  }

  body {
    box-shadow: none;
    margin: 0 !important;
  }

  span:empty {
    display: none;
  }

  .banner {
    background: none;
    display: none;
  }

  .back-to-home {
    display: none;
  }

  .hide {
    display: none;
  }

  .add,
  .cut {
    display: none;
  }
}


@media print {
  body * {
    visibility: hidden;
  }

  #print-section,
  #print-section * {
    visibility: visible;
  }

  #print-section {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@page {
  margin: 0;
}
