<header>
  <h1>{{Invoice?.shop_name}} - TAX INVOICE</h1>
  <address contenteditable>
    <p>{{Invoice?.shop_name}}</p>
    <p>{{Invoice?.shop_address_1}}</p>
    <p>{{Invoice?.shop_address_2}}</p>
    <p>{{Invoice?.shop_address_3}}</p>
    <p>{{Invoice?.owner_name}}</p>
    <p>{{Invoice?.owner_number}}</p>
    <p>GSIT : {{Invoice?.gsit}}</p>
  </address>
  <span><img alt="" style="width: 20%;" src={{Invoice?.shop_logo}}><input type="file" accept="image/*"></span>
</header>

<div style="border-top: 2px solid rgba(128, 128, 128, 0.230);margin-bottom: 10px;"></div>

<article>
  <!-- <address contenteditable>
        <h2>Recipient : </h2>
        <p>{{Invoice?.customer_name}}</p>
        <p>{{Invoice?.customer_mobile}}</p>
        <p>{{Invoice?.customer_address}}</p>
      </address> -->
  <table class="">
    <tr>
      <th><span contenteditable>Recepitent </span></th>
      <th *ngIf="Invoice?.dispatch_from !=null && Invoice?.dispatch_to !=null && Invoice?.dispatch_name !=null"><span
          contenteditable>Dispatch </span></th>
      <th><span contenteditable>Invoice </span></th>
    </tr>
    <tr>
      <td><span contenteditable>
          <p>{{Invoice?.customer_name}}</p>
          <p>{{Invoice?.customer_mobile}}</p>
          <p>{{Invoice?.customer_address}}</p>
        </span></td>
      <td>
        <p *ngIf="Invoice?.dispatch_from"><span contenteditable>Dispatch From : {{Invoice?.dispatch_from}}</span></p>
        <p *ngIf="Invoice?.dispatch_to"><span contenteditable>Dispatch to : {{Invoice?.dispatch_to}}</span></p>
        <p *ngIf="Invoice?.dispatch_name"><span>Lorry No : {{Invoice?.dispatch_name}}</span></p>
        <!-- <p><span contenteditable>{{Invoice?.time_stamp | date:'mediumDate'}}</span></p> -->
      </td>
      <td>
        <p><span contenteditable>Invoice No : {{Invoice?.invoice_prefix}}{{Invoice?.order_no}}</span>
        </p>
        <p><span contenteditable>Date : {{Invoice?.time_stamp | date:'mediumDate'}}</span></p>
        <p><span>Amount due : {{Invoice?.order_balance | currency:'INR':'symbol'}}</span></p>
        <p><span contenteditable>{{Invoice?.time_stamp | date:'mediumDate'}}</span></p>
      </td>
    </tr>
  </table>
  <!-- <table class="meta">
        <tr>
          <th><span contenteditable>Invoice </span></th>
        </tr>
        <tr>
          <th><span contenteditable>Date</span></th>
        </tr>
        <tr>
          <th><span contenteditable>Amount Due</span></th>
        </tr>
      </table> -->

  <div style="border-top: 2px solid rgba(128, 128, 128, 0.230);margin: 10px 0px;"></div>

  <table class="inventory">
    <thead>
      <tr>
        <th><span contenteditable>Product / Service</span></th>
        <th><span contenteditable>Rate</span></th>
        <th><span contenteditable>SGST</span></th>
        <th><span contenteditable>CGST</span></th>
        <th><span contenteditable>Quantity</span></th>
        <th><span contenteditable>Price</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factor of Invoice?.order_items">
        <td><span contenteditable>{{factor?.product_name}}</span></td>
        <td><span contenteditable>{{factor?.product_price | currency:'INR':'symbol'}}</span></td>
        <td><span contenteditable>{{factor?.product_sgst }} %</span></td>
        <td><span contenteditable>{{factor?.product_sgst }} %</span></td>
        <td><span contenteditable>x {{factor?.product_quantity }}</span></td>
        <td><span contenteditable>{{factor?.item_price | currency:'INR':'symbol'}}</span></td>
      </tr>
    </tbody>
  </table>
  <table class="balance">
    <tr>
      <th><span contenteditable>GST</span></th>
      <td><span contenteditable>{{Invoice?.order_gst_price | currency:'INR':'symbol'}}</span></td>
    </tr>
    <tr>
      <th><span contenteditable>Amount Paid</span></th>
      <td><span contenteditable>{{Invoice?.amount_paid | currency:'INR':'symbol'}}</span></td>
    </tr>
    <tr>
      <th><span contenteditable>Balance Due</span></th>
      <td><span contenteditable>{{Invoice?.order_balance | currency:'INR':'symbol'}}</span></td>
    </tr>
    <tr>
      <th style="font-weight: bold;"><span contenteditable>Total</span></th>
      <td style="font-weight: bold;"><span contenteditable>{{Invoice?.order_price | currency:'INR':'symbol'}}</span>
      </td>
    </tr>
  </table>
</article>
<!-- <aside>
      <h1><span contenteditable>Additional Notes</span></h1>
      <div contenteditable>
        <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
      </div>
    </aside> -->
