/* header */

header {
  margin: 0 0 1em;
}

header:after {
  clear: both;
  content: "";
  display: table;
}

header h1 {
  background: #000;
  border-radius: 0.25em;
  color: #FFF;
  margin: 0 0 1em;
  padding: 0.5em 0;
}



header address {
  float: left;
  font-size: 75%;
  font-style: normal;
  line-height: 1.25;
  margin: 0 1em 1em 0;
}

header address p {
  font-size: 1.25em;
  margin: 0 0 0.25em;
}

header span,
header img {
  display: block;
  float: right;
}

header span {
  margin: 0 0 1em 1em;
  max-height: 25%;
  max-width: 60%;
  position: relative;
}

header img {
  max-height: 100%;
  max-width: 100%;
}

header input {
  cursor: pointer;
  // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.banner {
  background-color: rgb(242, 242, 242);
  width: 100%;
  height: 7vh;
  margin-bottom: 3%;
}

.banner i {
  color: #000;
}


/* reset */


* {
  border: 0;
  box-sizing: content-box;
  // color: inherit;
  // font-family: inherit;
  // font-size: inherit;
  // font-style: inherit;
  // font-weight: inherit;
  // line-height: inherit;
  // list-style: none;
  // margin: 0;
  // padding: 0;
  text-decoration: none;
  vertical-align: top;
}

/* content editable */

*[contenteditable] {
  border-radius: 0.25em;
  min-width: 1em;
  outline: 0;
}

*[contenteditable] {
  cursor: pointer;
}

*[contenteditable]:hover,
*[contenteditable]:focus,
td:hover *[contenteditable],
td:focus *[contenteditable],
img.hover {
  background: #DEF;
  box-shadow: 0 0 1em 0.5em #DEF;
}

span[contenteditable] {
  display: inline-block;
}

/* heading */

h1 {
  font: bold 100% sans-serif;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

/* table */

table {
  font-size: 100%;
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
}

th,
td {
  // border-width: 1px;
  padding: 0.7em;
  position: relative;
  text-align: left;
}

th,
td {
  border-radius: 0.05em;
  border-style: solid;
}

th {
  background: #EEE;
  border-color: #BBB;
}

tr {
  background: rgba(238, 238, 238, 0.262);
  border-color: #BBB;
}

td {
  border-color: #DDD;
}

td p {
  margin: 0;
}

/* page */

html {
  font: 16px/1 'Open Sans', sans-serif;
  overflow: auto;
  // padding: 0.5in;
}

html {
  background: #FFF;
  cursor: default;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5in;
  height: 11in;
  width: 8.5in;
}

body {
  background: #FFF;
  border-radius: 1px;
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}


/* article */

article,
article address,
table.meta,
table.inventory {
  margin: 0 0 3em;
}

article:after {
  clear: both;
  content: "";
  display: table;
}

article h1 {
  clip: rect(0 0 0 0);
  position: absolute;
}

article h2 {
  margin-bottom: 3%;
}

article address {
  float: left;
  margin-bottom: 2.4em;

  // font-size: 10-%;
  // font-weight: bold;
}

#print-section {
  position: relative;
  height: 100%;
  // border: 3px solid red;
}


.sign {
  position: absolute;
  right: 10px;
  bottom: 10px;
  // border: 3px solid #8AC007;
}

/* table meta & balance */

table.meta,
table.balance {
  float: right;
  width: 36%;
}

table.meta:after,
table.balance:after {
  clear: both;
  content: "";
  display: table;
}

/* table meta */

table.meta th {
  width: 40%;
}

table.meta td {
  width: 60%;
}

/* table items */

table.inventory {
  clear: both;
  width: 100%;
}

table.inventory th {
  font-weight: bold;
  text-align: center;
}

table.inventory td:nth-child(1) {
  width: 38%;
}

table.inventory td:nth-child(2) {
  text-align: right;
  width: 29%;
}

table.inventory td:nth-child(3) {
  text-align: right;
  width: 6%;
}

table.inventory td:nth-child(4) {
  text-align: right;
  width: 6%;
}

table.inventory td:nth-child(5) {
  text-align: right;
  width: 6%;
}

table.inventory td:nth-child(6) {
  text-align: right;
  width: 12%;
}

/* table balance */

table.balance th,
table.balance td {
  width: 50%;
}

table.balance td {
  text-align: right;
}

/* aside */

aside h1 {
  border: none;
  border-width: 0 0 1px;
  margin: 0 0 1em;
}

aside h1 {
  border-color: #999;
  border-bottom-style: solid;
}

/* javascript */


@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  html {
    background: none;
    padding: 0;
  }

  body {
    box-shadow: none;
    margin: 0;
  }

  span:empty {
    display: none;
  }

  .banner {
    background: none;
    display: none;
  }

  .back-to-home {
    display: none;
  }

  .hide {
    display: none;
  }

  .add,
  .cut {
    display: none;
  }
}


@media print {
  body * {
    visibility: hidden;
  }

  #print-section,
  #print-section * {
    visibility: visible;
  }

  #print-section {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@page {
  margin: 0;
}
