  <div class="page-breadcrumb">
    <div class="d-flex justify-content-between">
      <div>
        <!-- <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Lead Management
      </h3> -->
        <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Sales Management
        </h3>

      </div>
      <div class="">
        <a [routerLink]="['/']" class="d-sm-inline btn btn-sm btn-primary mr-2 shadow-sm"><i class="ti-plus"></i>
          Create Sales</a>
      </div>
    </div>
  </div>

  <div class="container mt-3" *ngIf="!config['isTable'].sales_management">
    <div class="example-action-buttons float-left">
      <h3> Active Jobs </h3>
    </div>
    <div class="example-action-buttons float-right">
      <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
    </div> <br>
    <mat-accordion class="example-headers-align container" multi>
      <mat-expansion-panel *ngFor="let factor of Factors">
        <mat-expansion-panel-header>
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">
                {{factor.order_price | currency:'INR':'symbol'}} - {{factor.customer_name}}</h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">Created at : {{factor.time_stamp | date : 'mediumDate'}}
              </h4>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <div class="row container">
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br> {{factor.customer_name}} <br>
                {{factor.customer_address}} - {{factor.customer_city}} <br> {{factor.customer_mobile}} </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">
                Job Reference No. : {{factor.task_description}}
              </h4>
            </mat-panel-description>
          </div>
        </div>
        <mat-action-row style="zoom: 80%;">

          <button class="mr-4 btn btn-rounded btn-light" color="primary" (click)="show_edit(factor)" form="myform"
            type="submit"><i class="fas fa-edit    "></i></button>
          <button class="mr-4 btn btn-rounded btn-light" color="danger" (click)="delete_factor(factor)"><i
              class="fa fa-trash" aria-hidden="true"></i></button>
          <button class="mr-4 btn btn-rounded btn-light" color="danger" (click)="delete_factor(factor)"><i
              class="fa fa-trash" aria-hidden="true"></i></button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

  <body id="page-top" *ngIf="config['isTable'].sales_management">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid px-4">
            <p class=""></p>
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">Your Saless</h4>
                <div class="">

                </div>
              </div>

            <div class="card-body">
              <div class="dot-opacity-loader" *ngIf="Factors?.length == 0">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="table-responsive" *ngIf="Factors?.length != 0">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th>Customer</th>
                        <th>Amount</th>
                        <th>Balance</th>
                        <th>No. of items</th>
                        <th>Dispatch</th>
                        <th>Timestamp</th>
                        <th>Options</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Customer</th>
                        <th>Amount</th>
                        <th>Balance</th>
                        <th>No. of items</th>
                        <th>Dispatch</th>
                        <th>Timestamp</th>
                        <th>Options</th>
                      </tr>
                    </tfoot>

                    <!-- Start of DataTable -->
                    <tbody>
                      <tr *ngFor="let factor of Factors">
                        <td (click)="print_bill(factor)">{{factor.customer_name}} - {{factor.customer_mobile}}</td>
                        <td (click)="print_bill(factor)">{{factor.order_price | currency:'INR':'symbol'}}</td>
                        <td (click)="print_bill(factor)">{{factor.order_balance | currency:'INR':'symbol'}}</td>
                        <td (click)="print_bill(factor)">
                          {{factor['order_items'].length +  factor['random_items'].length}}</td>
                        <td (click)="show_dispatch_edit(factor)" *ngIf="factor.dispatch_from && factor.dispatch_to">
                          {{factor.dispatch_from}} >
                          {{factor.dispatch_to}}</td>
                        <td class="text-muted" (click)="show_dispatch_edit(factor)"
                          *ngIf="!factor.dispatch_from && !factor.dispatch_to">
                          Click to add dispatch</td>
                        <td (click)="print_bill(factor)">{{factor.time_stamp | date:'mediumDate'}}</td>

                        <td style="cursor: pointer; text-align: center;" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a (click)="print_bill(factor)" class="dropdown-item">Print Bill</a>
                            <a (click)="show_dispatch_edit(factor)" class="dropdown-item">Dispatch details</a>
                            <!-- <a (click)="show_edit(factor)" class="dropdown-item">Edit Sales</a> -->
                            <a (click)="delete_factor(factor)" class="dropdown-item text-danger">Delete Sales</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <!-- End of DataTable -->


                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>


  <!-- Create  Factor modal conten t -->
  <div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <!-- <<  Sales - Factor -   >> -->
          <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

            <!-- Sales Title - expense_title - text - required -->
            <div class="form-group">
              <label>Sales Title <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.expense_title" name="expense_title"
                #expense_title="ngModel" type="text" placeholder="Enter Sales Title" required>
              <div class="error" *ngIf="expense_title.touched && !expense_title.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Sales Title -->

            <!-- Sales Amount - expense_price - text - required -->
            <div class="form-group">
              <label>Sales Amount <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.expense_price" name="expense_price"
                #expense_price="ngModel" type="text" placeholder="Enter Sales Amount" required>
              <div class="error" *ngIf="expense_price.touched && !expense_price.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Sales Amount -->

            <!-- Payment Status - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Payment Status</label>
              <ng-select [items]="PURCHASE_PAYMENT" bindLabel="value" autofocus bindValue="id" name="factor"
                [(ngModel)]="Factor.expense_payment" placeholder="Select Payment Status">
              </ng-select>
            </div>
            <!-- End of Select Payment Status -->

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Create Sales</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Create Factor -->



  <!-- Edit  Factor modal content -->
  <div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

            <!-- Sales Title - expense_title - text - required -->
            <div class="form-group">
              <label>Sales Title <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.expense_title" name="expense_title"
                #expense_title="ngModel" type="text" placeholder="Enter Sales Title" required>
              <div class="error" *ngIf="expense_title.touched && !expense_title.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Sales Title -->

            <!-- Sales Amount - expense_price - text - required -->
            <div class="form-group">
              <label>Sales Amount <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.expense_price" name="expense_price"
                #expense_price="ngModel" type="text" placeholder="Enter Sales Amount" required>
              <div class="error" *ngIf="expense_price.touched && !expense_price.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Sales Amount -->

            <!-- Payment Status - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Payment Status</label>
              <ng-select [items]="PURCHASE_PAYMENT" bindLabel="value" autofocus bindValue="id" name="factor"
                [(ngModel)]="Factor.expense_payment" placeholder="Select Payment Status">
              </ng-select>
            </div>
            <!-- End of Select Payment Status -->

            <div class="form-group text-center">
              <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
              <button class="btn btn-primary" type="submit">Update Sales</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->


  <!-- Edit  Factor modal content -->
  <div id="edit-dispatch-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues3="ngForm" (ngSubmit)="edit_dispatch(formValues3)" class="pl-3 pr-3">

            <!-- Dispatch From - dispatch_from - text - required -->
            <div class="form-group">
              <label>Dispatch From <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.dispatch_from" name="dispatch_from"
                #dispatch_from="ngModel" type="text" placeholder="Enter Dispatch From" required>
              <div class="error" *ngIf="dispatch_from.touched && !dispatch_from.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Dispatch From -->

            <!-- Dispatch To - dispatch_to - text - required -->
            <div class="form-group">
              <label>Dispatch To <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.dispatch_to" name="dispatch_to" #dispatch_to="ngModel"
                type="text" placeholder="Enter Dispatch To" required>
              <div class="error" *ngIf="dispatch_to.touched && !dispatch_to.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Dispatch To -->

            <!-- Lorry Number - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Lorry Number <span>*</span></label>
              <input class="form-control" [(ngModel)]="Factor.dispatch_name" name="dispatch_name"
                #dispatch_name="ngModel" type="text" placeholder="Enter Lorry Number" required>
            </div>
            <!-- End of Select Lorry Number -->

            <!-- Agent Name - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Agent Name ( Optional )</label>
              <input class="form-control" [(ngModel)]="Factor.dispatch_agent" name="dispatch_agent"
                #dispatch_agent="ngModel" type="text" placeholder="Enter Agent Name">
            </div>
            <!-- End of Select Agent Name -->

            <!-- Payments through - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Payments through ( Optional )</label>
              <input class="form-control" [(ngModel)]="Factor.dispatch_thro" name="dispatch_thro"
                #dispatch_thro="ngModel" type="text" placeholder="Enter Payments through">
            </div>
            <!-- End of Select Payments through -->

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Update Dispatch</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->
