
  <div class="container mt-2">


    <div class="card p-3">
      <div class="row">
        <div class="col-6 pl-4">
          <h3> <strong class="font-weight-bold mb-0">General Details :</strong> </h3>
          <h3 class="text-muted mb-0"> Company Name : <span class="text-info font-weight-bold">
              {{Customer.company_name}}
            </span> </h3>
          <h3 class="text-muted mb-0"> Contact Person : <span class="text-info font-weight-bold">
              {{Customer.customer_name}} </span> </h3>
          <h3 class="text-muted mb-0"> Mobile Numbers : <span class="text-info font-weight-bold">
              {{Customer.customer_mobile}} </span>
          </h3>
          <h3 class="text-muted mb-0"> Customer Address : <span class="text-info font-weight-bold">
              {{Customer.customer_address}} </span>
          </h3>
          <h3 class="text-muted mb-0"> Customer City : <span class="text-info font-weight-bold">
              {{Customer.customer_city}} </span> </h3>
        </div>
        <div class="col-6">
          <h3> <strong class="font-weight-bold mb-0">Misc. Details :</strong> </h3>
          <h3 class="text-muted mb-0"> Customer Industry : <span class="text-info font-weight-bold">
              {{Customer.shop_industry}} </span>
          </h3>
          <h3 class="text-muted mb-0"> Customer Type : <span class="text-info font-weight-bold">
              {{CUSTOMER_TYPE[Customer.customer_type].value}}
            </span> </h3>
          <h3 class="text-muted mb-0"> Calendar Follow Up : <span class="text-info font-weight-bold">
              {{Customer.calendar_eligible}} </span>
          </h3>
          <h3 class="text-muted mb-0"> Direct Customer : <span class="text-info font-weight-bold">
              {{Customer.customer_direct}} </span> </h3>
        </div>
      </div>
    </div>



    <mat-tab-group mat-align-tabs="center">

      <mat-tab label="Customer Follow Ups">

        <div class="container mt-3">
          <div class="example-action-buttons float-left">
            <h3> Active Jobs </h3>
          </div>
          <div class="example-action-buttons float-right">
            <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
          </div> <br>
          <mat-accordion class="example-headers-align container" multi>
            <mat-expansion-panel *ngFor="let factor of Customer['leads']">
              <mat-expansion-panel-header>
                <div class="col-6">
                  <mat-panel-title>
                    <h4 class="m-0 font-weight-bold text-primary">{{factor.follow_up_comment}} </h4>
                  </mat-panel-title>
                </div>
                <div class="col-6">
                  <mat-panel-description>
                    <h4 class="m-0 font-weight-bold text-primary">Date : {{factor.time_stamp | date: 'd  - MMM,  y'}}
                    </h4>
                  </mat-panel-description>
                </div>
              </mat-expansion-panel-header>
              <div class="row container">
                <div class="col-6">
                  <mat-panel-title>
                    <h4 class="m-0 font-weight-bold text-primary"> Next Follow Up :
                      {{factor.next_follow_up | date : 'd  - MMM,  y'}} </h4>
                  </mat-panel-title>
                </div>
                <!-- <div class="col-6">
                <mat-panel-description>
                  <h4 class="m-0 font-weight-bold text-primary">
                    Job Description : {{factor.task_description}}
                  </h4>
                </mat-panel-description>
              </div> -->
              </div>
              <mat-action-row>
                <div>
                  <span *ngIf="factor.dislosed_state" class="badge badge-success"> Disclosed </span>
                  <span *ngIf="!factor.dislosed_state" class="badge badge-danger"> Not Disclosed </span>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

      </mat-tab>



      <mat-tab label="Payment Follow Ups">

        <div class="container mt-3">
          <!-- <div class="example-action-buttons float-left">
          <h3> Active Jobs </h3>
        </div>
        <div class="example-action-buttons float-right">
          <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
        </div> <br> -->
          <mat-accordion class="example-headers-align container" multi>
            <mat-expansion-panel *ngFor="let factor of Customer['invoices']">
              <mat-expansion-panel-header>
                <div class="col-6">
                  <mat-panel-title>
                    <h4 class="m-0 font-weight-bold text-primary">{{factor.follow_up_comment}} </h4>
                  </mat-panel-title>
                </div>
                <div class="col-6">
                  <mat-panel-description>
                    <h4 class="m-0 font-weight-bold text-primary">Date : {{factor.time_stamp | date: 'd  - MMM,  y'}}
                    </h4>
                  </mat-panel-description>
                </div>
              </mat-expansion-panel-header>
              <div class="row container">
                <div class="col-6">
                  <mat-panel-title>
                    <h4 class="m-0 font-weight-bold text-primary"> Next Follow Up :
                      {{factor.next_follow_up | date : 'd  - MMM,  y'}} </h4> <br>
                    <h4 class="m-0 font-weight-bold text-primary"> Dispatched Date :
                      {{factor.dispatch_date | date : 'd  - MMM,  y'}} </h4>
                  </mat-panel-title>
                </div>
                <div class="col-6">
                  <mat-panel-description>
                    <h4 class="m-0 font-weight-bold text-primary">
                      Reference No :{{factor.invoice_refernce_no}}
                    </h4> <br>
                    <h4 class="m-0 font-weight-bold text-primary">
                      Amount : {{factor.invoice_balance}}
                    </h4>
                  </mat-panel-description>
                </div>
              </div>
              <mat-action-row>
                <div>
                  <span *ngIf="factor.dislosed_state" class="badge badge-success"> Disclosed </span>
                  <span *ngIf="!factor.dislosed_state" class="badge badge-danger"> Not Disclosed </span>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

      </mat-tab>



      <mat-tab label="Finished Jobs">

        <div class="container mt-3">
          <!-- <div class="example-action-buttons float-left">
          <h3> Active Jobs </h3>
        </div>
        <div class="example-action-buttons float-right">
          <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
        </div> <br> -->
          <mat-accordion class="example-headers-align container" multi>
            <mat-expansion-panel *ngFor="let factor of Customer['tasks']">
              <mat-expansion-panel-header>
                <div class="col-6">
                  <mat-panel-title>
                    <h4 class="m-0 font-weight-bold text-primary">{{factor.task_name}} -- {{factor.task_state}}</h4>
                  </mat-panel-title>
                </div>
                <div class="col-6">
                  <mat-panel-description>
                    <h4 class="m-0 font-weight-bold text-primary">Created at : {{factor.time_stamp | date : 'd/M/yy'}}
                    </h4>
                  </mat-panel-description>
                </div>
              </mat-expansion-panel-header>
              <div class="row container">
                <div class="col-6">
                  <mat-panel-title>
                    <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br> {{factor.customer_name}}
                      <br>
                      {{factor.customer_address}} - {{factor.customer_city}} <br> {{factor.customer_mobile}} </h4>
                  </mat-panel-title>
                </div>
                <div class="col-6">
                  <mat-panel-description>
                    <h4 class="m-0 font-weight-bold text-primary">
                      Job Description : {{factor.task_description}}
                    </h4>
                  </mat-panel-description>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

      </mat-tab>


    </mat-tab-group>

  </div>
