  <div class="page-breadcrumb">
    <div class="row d-flex justify-content-between align-items-center mx-3">
      <div class="align-self-center ">
        <!-- <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Lead Management
      </h3> -->
        <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Product Management
        </h3>

      </div>
      <div class="">
        <a data-toggle="modal" data-target="#view-settings-modal"
          class="d-sm-inline btn btn-sm btn-light mx-3 shadow-sm"><i class="ti-settings mx-3 text-dark-50"
            aria-hidden="true"></i></a>
        <a data-toggle="modal" data-target="#create-factor-modal"
          class="d-sm-inline btn btn-sm btn-primary shadow-sm mr-5 text-white"><i class="ti-plus"></i>
          Add Product</a>
      </div>
    </div>
  </div>

  <div *ngIf="!config['isTable'].product_database" class="container-fluid mt-3">
    <div class="example-action-buttons float-left">
      <h3> Active Jobs </h3>
    </div>
    <div class="example-action-buttons float-right">
      <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
    </div> <br>
    <mat-accordion class="example-headers-align container" multi>
      <mat-expansion-panel *ngFor="let factor of Factors">
        <mat-expansion-panel-header>
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">{{factor.product_code}} -
                {{factor.product_name }} - {{factor.product_stock }}</h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">Created at : {{factor.time_stamp | date : 'mediumDate'}}
              </h4>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <div class="row container">
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br> {{factor.customer_name}} <br>
                {{factor.customer_address}} - {{factor.customer_city}} <br> {{factor.customer_mobile}} </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">
                Job Reference No. : {{factor.task_description}}
              </h4>
            </mat-panel-description>
          </div>
        </div>
        <mat-action-row style="zoom: 80%;">

          <button class="mr-4 btn btn-rounded btn-light" color="primary" (click)="show_edit(factor)" form="myform"
            type="submit"><i class="fas fa-edit    "></i></button>
          <button class="mr-4 btn btn-rounded btn-light" color="danger" (click)="delete_factor(factor)"><i
              class="fa fa-trash" aria-hidden="true"></i></button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

  <body *ngIf="config['isTable'].product_database" id="page-top">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid px-4">
            <p class=""></p>
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">Your Products</h4>
                <div class="">

                </div>
              </div>

            <div class="card-body">
              <div class="dot-opacity-loader" *ngIf="Factors?.length == 0">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="table-responsive" *ngIf="Factors?.length != 0">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th *ngFor="let factor of config['product_database']" [hidden]=!factor.status>
                          {{factor.field_name}}</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th *ngFor="let factor of config['product_database']" [hidden]=!factor.status>
                          {{factor.field_name}}</th>
                      </tr>
                    </tfoot>

                    <!-- Start of DataTable -->
                    <tbody>
                      <tr *ngFor="let factor of Factors">
                        <td [hidden]="!config['product_database'][0].status">{{factor.product_code}} -
                          {{factor.product_name }}</td>
                        <td [hidden]="!config['product_database'][1].status">
                          {{factor.product_customer_price | currency:'INR':'symbol'}}</td>
                        <td [hidden]="!config['product_database'][2].status" *ngIf=" factor.product_stock == null">-
                        </td>
                        <td [hidden]="!config['product_database'][2].status" *ngIf=" factor.product_stock != null">
                          {{factor.product_stock}}</td>
                        <td [hidden]="!config['product_database'][3].status" *ngIf=" factor.product_gst == null">
                          {{factor.product_gst}} - </td>
                        <td [hidden]="!config['product_database'][3].status" *ngIf=" factor.product_gst != null">
                          {{factor.product_gst}} %</td>
                        <td [hidden]="!config['product_database'][4].status">{{factor.time_stamp | date:'mediumDate'}}
                        </td>

                        <td [hidden]="!config['product_database'][5].status"
                          style="cursor: pointer; text-align: center;" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a (click)="show_edit(factor)" class="dropdown-item">Edit Product</a>
                            <a (click)="delete_factor(factor)" class="dropdown-item text-danger">Delete Product</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <!-- End of DataTable -->


                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <div id="view-settings-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <div class="btn-group mt-3" data-toggle="buttons" role="group">
              <label class="btn btn-outline btn-light">
                <div (click)="toggleView($event)" class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="options" [checked]="config['isTable'].product_database"
                    class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Table View</label>
                </div>
              </label>
              <label class="btn btn-outline btn-light">
                <div (click)="toggleView($event)" class="custom-control custom-radio">
                  <input type="radio" id="customRadio2" name="options" [checked]="!config['isTable'].product_database"
                    class="custom-control-input">
                  <label class="custom-control-label" for="customRadio2">Panel View</label>
                </div>
              </label>
            </div>
            <a *ngFor="let factor of config['product_database']">
              <mat-slide-toggle color="primary" class="d-block" [(ngModel)]="factor.status">
                {{factor?.field_name}}
              </mat-slide-toggle>
            </a>
            <div class="dropdown-divider"></div>
            <a>
              <a (click)="update_config()" class="d-sm-inline btn btn-sm btn-primary text-white shadow-sm"><i
                  class="ti-plus"></i> Save Config</a>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Create  Factor modal content -->
  <div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

            <!-- Product Template - form - [ value - id ] - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Product Template</label>
              <ng-select [items]="PRODUCT_TEMPLATES" bindLabel="value" autofocus bindValue="id" name="product_template"
                [(ngModel)]="Factor.product_template" placeholder="Select Product Template">
              </ng-select>
            </div>
            <!-- End of Select Product Template -->
            <hr>
            <div class="row">
              <div class="col-8">
                <!-- Product Name - product_name - text - required -->
                <div class="form-group">
                  <label>Product Name <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_name" name="product_name"
                    #product_name="ngModel" type="text" placeholder="Enter Product Name" required>
                  <div class="error" *ngIf="product_name.touched && !product_name.valid"> Required </div>
                </div>
                <!-- End of Product Name -->
              </div>

              <div class="col-4">
                <!-- Product Code - product_code - text - required -->
                <div class="form-group">
                  <label>HSN Code <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_code" name="product_code"
                    #product_code="ngModel" type="text" placeholder="Enter Product Code" required>
                  <div class="error" *ngIf="product_code.touched && !product_code.valid"> Required </div>
                </div>
                <!-- End of Product Code -->
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <!-- Vendor Price - product_vendor_price - text - required -->
                <div class="form-group">
                  <label>Vendor Price <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_vendor_price" name="product_vendor_price"
                    #product_vendor_price="ngModel" type="text" placeholder="Enter Vendor Price" required>
                  <div class="error" *ngIf="product_vendor_price.touched && !product_vendor_price.valid"> Required
                  </div>
                </div>
                <!-- End of Vendor Price -->
              </div>

              <div class="col-4">
                <!-- Customer's Price - product_customer_price - text - required -->
                <div class="form-group">
                  <label>Customer's Price <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_customer_price" name="product_customer_price"
                    #product_customer_price="ngModel" type="text" placeholder="Enter Customer's Price" required>
                  <div class="error" *ngIf="product_customer_price.touched && !product_customer_price.valid"> Required
                  </div>
                </div>
                <!-- End of Customer's Price -->
              </div>

              <div class="col-4">
                <!-- Product MRP  - product_mrp_price - text - required -->
                <div class="form-group">
                  <label>Product MRP <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_mrp_price" name="product_mrp_price"
                    #product_mrp_price="ngModel" type="text" placeholder="Enter Product MRP " required>
                  <div class="error" *ngIf="product_mrp_price.touched && !product_mrp_price.valid"> Required </div>
                </div>
                <!-- End of Product MRP  -->
              </div>
            </div>

            <div class="row" *ngIf="Factor.product_template != 3">
              <div class="col-4">
                <!-- Product GST - product_gst - text - required -->
                <div class="form-group">
                  <label>Product GST <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_gst" name="product_gst" #product_gst="ngModel"
                    type="text" placeholder="Enter Product GST" required>
                  <div class="error" *ngIf="product_gst.touched && !product_gst.valid">
                    Required </div>
                </div>
                <!-- End of Product GST -->
              </div>

              <div class="col-4">
                <!-- Product Stock - product_stock - text - required -->
                <div class="form-group">
                  <label>Product Stock <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_stock" name="product_stock"
                    #product_stock="ngModel" type="text" placeholder="Enter Product Stock" required>
                  <div class="error" *ngIf="product_stock.touched && !product_stock.valid"> Required </div>
                </div>
                <!-- End of Product Stock -->
              </div>

              <div *ngIf="Factor.product_template != 1 && Factor.product_template != 3 " class="col-4">
                <label>Expiry Date</label>
                <div class="customize-input float-right">
                  <input class="date-field" name="active_day" matInput [(ngModel)]="active_day" [matDatepicker]="picker"
                    (change)=onDateChange($event)>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="Factor.product_template != 3">
              <div class="col-6">
                <!-- Product Value - product_value - text - required -->
                <div class="form-group">
                  <label>Product Value <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_value" name="product_value"
                    #product_value="ngModel" type="text" placeholder="Enter Product Value" required>
                </div>
                <!-- End of Product Value -->
              </div>

              <div class="col-6">
                <!-- Product Type - form - [ value - id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <label>Product Type</label>
                  <ng-select [items]="PRODUCT_TYPE" bindLabel="value" autofocus bindValue="id" name="factor"
                    [(ngModel)]="Factor.product_type" placeholder="Select Product Type">
                  </ng-select>
                </div>
                <!-- End of Select Product Type -->
              </div>
            </div>

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Create Product</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Create Factor -->



  <!-- Edit  Factor modal content -->
  <div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

            <div class="row" *ngIf="Factor.product_template != 3">
              <div class="col-6">
                <!-- Product Name - product_name - text - required -->
                <div class="form-group">
                  <label>Product Name <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_name" name="product_name"
                    #product_name="ngModel" type="text" placeholder="Enter Product Name" required>
                  <div class="error" *ngIf="product_name.touched && !product_name.valid"> Required </div>
                </div>
                <!-- End of Product Name -->
              </div>

              <div class="col-6">
                <!-- Product Code - product_code - text - required -->
                <div class="form-group">
                  <label>HSN Code <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_code" name="product_code"
                    #product_code="ngModel" type="text" placeholder="Enter Product Code" required>
                  <div class="error" *ngIf="product_code.touched && !product_code.valid"> Required </div>
                </div>
                <!-- End of Product Code -->
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <!-- Vendor Price - product_vendor_price - text - required -->
                <div class="form-group">
                  <label>Vendor Price <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_vendor_price" name="product_vendor_price"
                    #product_vendor_price="ngModel" type="text" placeholder="Enter Vendor Price" required>
                  <div class="error" *ngIf="product_vendor_price.touched && !product_vendor_price.valid"> Required
                  </div>
                </div>
                <!-- End of Vendor Price -->
              </div>

              <div class="col-4">
                <!-- Customer's Price - product_customer_price - text - required -->
                <div class="form-group">
                  <label>Customer's Price <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_customer_price" name="product_customer_price"
                    #product_customer_price="ngModel" type="text" placeholder="Enter Customer's Price" required>
                  <div class="error" *ngIf="product_customer_price.touched && !product_customer_price.valid"> Required
                  </div>
                </div>
                <!-- End of Customer's Price -->
              </div>

              <div class="col-4">
                <!-- Product MRP  - product_mrp_price - text - required -->
                <div class="form-group">
                  <label>Product MRP <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_mrp_price" name="product_mrp_price"
                    #product_mrp_price="ngModel" type="text" placeholder="Enter Product MRP " required>
                  <div class="error" *ngIf="product_mrp_price.touched && !product_mrp_price.valid"> Required </div>
                </div>
                <!-- End of Product MRP  -->
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <!-- Product GST - product_gst - text - required -->
                <div class="form-group">
                  <label>Product GST <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_gst" name="product_gst" #product_gst="ngModel"
                    type="text" placeholder="Enter Product GST" required>
                  <div class="error" *ngIf="product_gst.touched && !product_gst.valid">
                    Required </div>
                </div>
                <!-- End of Product GST -->
              </div>

              <div class="col-4">
                <!-- Product Stock - product_stock - text - required -->
                <div class="form-group">
                  <label>Product Stock <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_stock" name="product_stock"
                    #product_stock="ngModel" type="text" placeholder="Enter Product Stock" required>
                  <div class="error" *ngIf="product_stock.touched && !product_stock.valid"> Required </div>
                </div>
                <!-- End of Product Stock -->
              </div>

              <div class="col-4">
                <label>Expiry Date</label>

                <div class="customize-input float-right">
                  <input class="date-field" name="active_day" matInput [(ngModel)]="active_day"
                    [matDatepicker]="picker2" (change)=onDateChange($event)>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="Factor.product_template != 3">
              <div class="col-6">
                <!-- Product Value - product_value - text - required -->
                <div class="form-group">
                  <label>Product Value <span>*</span> </label>
                  <input class="form-control" [(ngModel)]="Factor.product_value" name="product_value"
                    #product_value="ngModel" type="text" placeholder="Enter Product Value" required>
                </div>
                <!-- End of Product Value -->
              </div>

              <div class="col-6">
                <!-- Product Type - form - [ value - id ] - ng-select - selectedIndustry -->
                <div class="form-group">
                  <label>Product Type</label>
                  <ng-select [items]="PRODUCT_TYPE" bindLabel="value" autofocus bindValue="id" name="factor"
                    [(ngModel)]="Factor.product_type" placeholder="Select Product Type">
                  </ng-select>
                </div>
                <!-- End of Select Product Type -->
              </div>
            </div>

            <div class="form-group text-center">
              <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
              <button class="btn btn-primary" type="submit">Update Product</button>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->
