  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-7 align-self-center">
        <!-- <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Lead Management
      </h3> -->
        <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Vendor Management
        </h3>

      </div>
      <div class="col-5 align-self-center">
      </div>
    </div>
  </div>

  <body id="page-top">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid px-4">
            <p class=""></p>
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">Your vendor Database</h4>
                <div class="">
                  <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/routePath']"
                    class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="ti-plus"></i>
                    Create Vendor</a>
                </div>
              </div>

            <div class="card-body">
              <div class="dot-opacity-loader" *ngIf="Factors?.length == 0">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="table-responsive" *ngIf="Factors?.length != 0">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th>Vendor Name</th>
                        <th>Contact </th>
                        <th>Mobile Number</th>
                        <th>Company place</th>
                        <th>Options</th>

                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Vendor Name</th>
                        <th>Contact </th>
                        <th>Mobile Number</th>
                        <th>Company place</th>
                        <th>Options</th>

                      </tr>
                    </tfoot>

                    <!-- Start of DataTable -->
                    <tbody>
                      <tr *ngFor="let factor of Factors">
                        <td>{{factor.vendor_name}}</td>
                        <td>{{factor.vendor_mobile}}</td>
                        <td>{{factor.vendor_address}}</td>
                        <td>{{factor.vendor_feedback}}</td>
                        <td style="cursor: pointer; text-align: center;" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a (click)=show_edit(factor) class="dropdown-item">Edit Vendor</a>
                            <a (click)=delete_factor(factor) class="dropdown-item text-danger">Delete Vendor</a>
                          </div>
                        </td>

                      </tr>
                    </tbody>
                    <!-- End of DataTable -->


                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>


  <!-- Create  Factor modal content -->
  <div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <!-- <<  Vendor - Factor -   >> -->
          <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

            <!-- Vendor Name - vendor_name - text - required -->
            <div class="form-group">
              <label>Vendor Name *</label>
              <input class="form-control" [(ngModel)]="Factor.vendor_name" name="vendor_name" #vendor_name="ngModel"
                type="text" placeholder="Enter Vendor Name" required>
              <div class="error" *ngIf="vendor_name.touched && !vendor_name.valid"> Contact
                Person is
                required</div>
            </div>
            <!-- End of Vendor Name -->

            <!-- Vendor mobile - vendor_mobile - text - required -->
            <div class="form-group">
              <label>Vendor mobile *</label>
              <input class="form-control" [(ngModel)]="Factor.vendor_mobile" name="vendor_mobile"
                #vendor_mobile="ngModel" type="text" placeholder="Enter Vendor mobile" required>
              <div class="error" *ngIf="vendor_mobile.touched && !vendor_mobile.valid">
                Vendor mobile is
                required</div>
            </div>
            <!-- End of Vendor address -->

            <!-- Vendor address - vendor_address - text - required -->
            <div class="form-group">
              <label>Vendor address *</label>
              <input class="form-control" [(ngModel)]="Factor.vendor_address" name="vendor_address"
                #vendor_address="ngModel" type="text" placeholder="Enter Vendor address" required>
              <div class="error" *ngIf="vendor_address.touched && !vendor_address.valid">
                Vendor address is
                required</div>
            </div>
            <!-- End of Vendor address -->

            <!-- Feedback - vendor_feedback - text  -->
            <div class="form-group">
              <label>Feedback ( Optional )</label>
              <textarea class="form-control" [(ngModel)]="Factor.vendor_feedback" name="vendor_feedback"
                #vendor_feedback="ngModel" type="text" placeholder="Enter Feedback" value=""></textarea>
            </div>
            <!-- End of Feedback -->

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Create Vendor</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Create Factor -->



  <!-- Edit  Factor modal content -->
  <div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">
            <!-- Vendor Name - vendor_name - text - required -->
            <div class="form-group">
              <label>Vendor Name *</label>
              <input class="form-control" [(ngModel)]="Factor.vendor_name" name="vendor_name" #vendor_name="ngModel"
                type="text" placeholder="Enter Vendor Name" required>
              <div class="error" *ngIf="vendor_name.touched && !vendor_name.valid"> Contact
                Person is
                required</div>
            </div>
            <!-- End of Vendor Name -->

            <!-- Vendor mobile - vendor_mobile - text - required -->
            <div class="form-group">
              <label>Vendor mobile *</label>
              <input class="form-control" [(ngModel)]="Factor.vendor_mobile" name="vendor_mobile"
                #vendor_mobile="ngModel" type="text" placeholder="Enter Vendor mobile" required>
              <div class="error" *ngIf="vendor_mobile.touched && !vendor_mobile.valid">
                Vendor mobile is
                required</div>
            </div>
            <!-- End of Vendor address -->

            <!-- Vendor address - vendor_address - text - required -->
            <div class="form-group">
              <label>Vendor address *</label>
              <input class="form-control" [(ngModel)]="Factor.vendor_address" name="vendor_address"
                #vendor_address="ngModel" type="text" placeholder="Enter Vendor address" required>
              <div class="error" *ngIf="vendor_address.touched && !vendor_address.valid">
                Vendor address is
                required</div>
            </div>
            <!-- End of Vendor address -->

            <!-- Feedback - vendor_feedback - text  -->
            <div class="form-group">
              <label>Feedback ( Optional )</label>
              <textarea class="form-control" [(ngModel)]="Factor.vendor_feedback" name="vendor_feedback"
                #vendor_feedback="ngModel" type="text" placeholder="Enter Feedback" value=""></textarea>
            </div>
            <!-- End of Feedback -->

            <div class="form-group text-center">
              <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
              <button class="btn btn-primary" type="submit">Update Vendor</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->
