/* You can add global styles to this file, and also import other style files */


@import "~@ng-select/ng-select/themes/default.theme.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


/* -- quantity box -- */

.quantity {
  display: inline-block;
}

.dropdown-item {
  padding: 1em;
}


.quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor: pointer;
}

.quantity.buttons_added .minus {
  border-right: 0;
}

.quantity.buttons_added .plus {
  border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none;
}




::ng-deep label span.mat-slide-toggle-content {
  color: #0000008c !important;
}

::ng-deep .cdk-overlay-container {
  z-index: 2000 !important;
}

.form-group {

  mat-form-field {
    width: 100%;
    margin: 0;
  }
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0em !important;
}

.main-panel,
#content {
  background-color: #F5F7FF !important;
}

.main-panel {
  padding-top: 3vh;

}


.error {
  span {
    color: red;
  }

  color: red;
}


.banner {
  display: flex;
  padding: 0% 24px;
  margin: 10px 0px;
  flex-direction: row;
  justify-content: space-between;
}

table.dataTable {
  border-collapse: collapse !important;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 0 !important;
}



.footer {
  padding-top: 50%;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

html,
body {
  zoom: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


h6 {
  font-size: 100px;
}

.required {
  color: red;
}

.date-field {
  background-color: rgba(240, 248, 255, 0);
  width: 40%;
  border-color: rgba(0, 0, 0, 0);
  color: #5f76e8;
  font-weight: 600;
}

.date-picker {
  width: 90%;
  border-color: rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  padding: 7px 5px;
  color: rgba(0, 0, 0, 0.356);
}



@media (max-width:800px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      float: right;
      margin-top: 10px;
    }
  }
}
