  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-7 align-self-center">
        <!-- <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Lead Management
      </h3> -->
        <h3 class="page-title m-3 text-truncate text-dark font-weight-medium mb-1">Customer Management
        </h3>

      </div>
      <div class="col-5 align-self-center">
      </div>
    </div>
  </div>

  <body id="page-top">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid px-4">
            <p class=""></p>
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">Your customer Database</h4>
                <div class="">
                  <!-- <a data-toggle="modal" data-target="#create-industry-modal" [routerLink]="['/routePath']"
                    class="d-sm-inline btn btn-sm btn-primary shadow-sm mr-3"><i
                      class="ti-plus"></i>
                    Add Industry</a> -->
                  <a data-toggle="modal" data-target="#create-factor-modal"
                    class="d-sm-inline text-white btn btn-sm btn-primary shadow-sm"><i
                      class="ti-plus"></i>
                    Create Customer</a>
                </div>
              </div>

            <div class="card-body">
              <div class="dot-opacity-loader" *ngIf="Factors?.length == 0">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="table-responsive" *ngIf="Factors?.length != 0">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th>Customer name</th>
                        <th>Mobile Number</th>
                        <th>Address</th>
                        <th>GSTN</th>
                        <th>Feedback</th>
                        <th>Options</th>
                        <!-- <th>Industry</th>
                        <th>Calendar</th> -->
                        <!-- <th>Delete</th> -->
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Customer name</th>
                        <th>Mobile Number</th>
                        <th>Address</th>
                        <th>GSTN</th>
                        <th>Feedback</th>
                        <th>Options</th>
                        <!-- <th>Industry</th>
                        <th>Calendar</th> -->
                        <!-- <th>Delete</th> -->
                      </tr>
                    </tfoot>

                    <!-- Start of DataTable -->
                    <tbody>
                      <tr *ngFor="let factor of Factors" [hidden]="factor.customer_name == 'Without Customer'">
                        <td>{{factor.customer_name}}</td>
                        <td>{{factor.customer_mobile}}</td>
                        <td>{{factor.customer_address}}</td>
                        <td>{{factor.customer_gstn}}</td>
                        <td>{{factor.customer_feedback}}</td>

                        <td style="cursor: pointer; text-align: center;" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <!-- <a (click)=show_detail(factor) class="dropdown-item">Customer
                              details</a> -->
                            <a (click)=show_edit(factor) class="dropdown-item">Edit Customer</a>
                            <a (click)=delete_factor(factor) class="dropdown-item text-danger">Delete Customer</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <!-- End of DataTable -->


                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>




  <!-- Create  Factor modal content -->
  <div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <!-- <<  Customer - Factor -   >> -->
          <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

            <!-- Customer Name - customer_name - text - required -->
            <div class="form-group">
              <label>Customer Name <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.customer_name" name="customer_name"
                #customer_name="ngModel" type="text" placeholder="Enter Customer Name" required>
              <div class="error" *ngIf="customer_name.touched && !customer_name.valid"> Contact
                Person is
                required</div>
            </div>
            <!-- End of Customer Name -->

            <!-- Customer mobile - customer_mobile - text - required -->
            <div class="form-group">
              <label>Customer mobile <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.customer_mobile" name="customer_mobile"
                #customer_mobile="ngModel" type="text" placeholder="Enter Customer mobile" required>
              <div class="error" *ngIf="customer_mobile.touched && !customer_mobile.valid">
                Customer mobile is
                required</div>
            </div>
            <!-- End of Customer address -->

            <!-- Customer address - customer_address - text - required -->
            <div class="form-group">
              <label>Customer address <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.customer_address" name="customer_address"
                #customer_address="ngModel" type="text" placeholder="Enter Customer address" required>
              <div class="error" *ngIf="customer_address.touched && !customer_address.valid">
                Customer address is
                required</div>
            </div>
            <!-- End of Customer address -->

            <!-- Customer gstn - customer_gstn - text - required -->
            <div class="form-group">
              <label>Customer gstn ( Optional ) </label>
              <input class="form-control" [(ngModel)]="Factor.customer_gstn" name="customer_gstn"
                #customer_gstn="ngModel" type="text" placeholder="Enter Customer gstn">
            </div>
            <!-- End of Customer gstn -->

            <!-- Feedback - customer_feedback - text  -->
            <div class="form-group">
              <label>Feedback ( Optional )</label>
              <textarea class="form-control" [(ngModel)]="Factor.customer_feedback" name="customer_feedback"
                #customer_feedback="ngModel" type="text" placeholder="Enter Feedback" value=""></textarea>
            </div>
            <!-- End of Feedback -->

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Create Customer</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Create Factor -->



  <!-- Edit  Factor modal content -->
  <div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

            <!-- Customer Name - customer_name - text - required -->
            <div class="form-group">
              <label>Customer Name <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.customer_name" name="customer_name"
                #customer_name="ngModel" type="text" placeholder="Enter Customer Name" required>
              <div class="error" *ngIf="customer_name.touched && !customer_name.valid"> Contact
                Person is
                required</div>
            </div>
            <!-- End of Customer Name -->

            <!-- Customer mobile - customer_mobile - text - required -->
            <div class="form-group">
              <label>Customer mobile <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.customer_mobile" name="customer_mobile"
                #customer_mobile="ngModel" type="text" placeholder="Enter Customer mobile" required>
              <div class="error" *ngIf="customer_mobile.touched && !customer_mobile.valid">
                Customer mobile is
                required</div>
            </div>
            <!-- End of Customer address -->

            <!-- Customer address - customer_address - text - required -->
            <div class="form-group">
              <label>Customer address <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.customer_address" name="customer_address"
                #customer_address="ngModel" type="text" placeholder="Enter Customer address" required>
              <div class="error" *ngIf="customer_address.touched && !customer_address.valid">
                Customer address is
                required</div>
            </div>
            <!-- End of Customer address -->

            <!-- Customer gstn - customer_gstn - text - required -->
            <div class="form-group">
              <label>Customer gstn ( Optional ) </label>
              <input class="form-control" [(ngModel)]="Factor.customer_gstn" name="customer_gstn"
                #customer_gstn="ngModel" type="text" placeholder="Enter Customer gstn">
            </div>
            <!-- End of Customer gstn -->

            <!-- Feedback - customer_feedback - text  -->
            <div class="form-group">
              <label>Feedback ( Optional )</label>
              <textarea class="form-control" [(ngModel)]="Factor.customer_feedback" name="customer_feedback"
                #customer_feedback="ngModel" type="text" placeholder="Enter Feedback" value=""></textarea>
            </div>
            <!-- End of Feedback -->

            <div class="form-group text-center">
              <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
              <button class="btn btn-primary" type="submit">Update Customer</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->



  <!-- Edit  Factor modal content -->
  <div id="create-industry-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues4="ngForm" (ngSubmit)="add_industry(formValues4)" class="pl-3 pr-3">

            <!-- Industry Name - industry_name - text - required -->
            <div class="form-group">
              <label>Industry Name</label>
              <input class="form-control" [(ngModel)]="Industry.industry_name" name="industry_name"
                #industry_name="ngModel" type="text" placeholder="Enter Industry Name" required>
              <div class="error" *ngIf="industry_name.touched && !industry_name.valid"> Industry name is
                required</div>
            </div>
            <!-- End of Industry Name -->


            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Add Industry</button>
            </div>


          </form>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let factor of Industries">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{factor.industry_name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button class="btn btn-light" (click)="delete_industry(factor)">Delete Industry</button>
              <!-- <p>This is the primary content of the panel.</p> -->
            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->




  <!-- Customer Detail  Factor modal content -->
  <div id="customer-detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Customer Detail</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body" *ngIf="isCustomerSelected">
          <app-customer-detail></app-customer-detail>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Customer Detail Factor -->
